<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.common.properties">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>








 <extension point="de.uni_paderborn.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.verification.sdd.properties.sdd.editor.EdgeEditor$Factory"
             type="http://www.fujaba.de/muml/verification/sdd/0.4.0#Edge">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.verification.sdd.properties.sdd.editor.LeafNodeEditor$Factory"
             type="http://www.fujaba.de/muml/verification/sdd/0.4.0#LeafNode">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.metamodelContributor">
    <metamodel
          contributor="de.uni_paderborn.fujaba.muml.verification.sdd.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.creationConstraintContributor">
    <constraint
          contributor="de.uni_paderborn.fujaba.muml.verification.sdd.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
