<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CICReachabilityGraph -->
      <package
            uri="http://www.muml.org/verification/core/reachanalysis/reachabilitygraph/cic/1.0.0"
            class="org.muml.verification.core.reachanalysis.reachabilitygraph.cic.CicPackage"
            genModel="model/CICReachabilityGraph.genmodel"/>
   </extension>

</plugin>
