<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
  	       category="de.fujaba/de.fujaba.diagrams"
            class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.part.CustomRealtimeStatechartDiagramCreationWizard"
            icon="icons/StatechartFile.gif"
            id="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.realtimestatechartwizard"
            name="Realtime Statechart Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditor"
            contributorClass="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.part.MumlDiagramActionBarContributor"
            default="true"
            extensions="realtimestatechart_diagram"
            icon="icons/StatechartFile.gif"
            id="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID"
            matchingStrategy="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.part.MumlMatchingStrategy"
            name="%editorName">
      </editor>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <viewProvider class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.providers.CustomRealtimestatechartViewProvider">
         <Priority name="Low"/>
		 <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2002,3010,3001,3002,3003,3004,3005,3006,3007,3008,3009"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.providers.CustomRealtimestatechartEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>

</plugin>
