<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <viewProvider class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.providers.CustomRealtimestatechartViewProvider">
         <Priority name="Low"/>
		 <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.providers.CustomRealtimestatechartEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   
   
   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <ParserProvider class="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.providers.CustomMumlParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>
   
   <extension
       point="de.fujaba.newwizard.modelinitializer">
      <initializer
          initializer="de.uni_paderborn.fujaba.muml.realtimeStatechart.diagram.custom.initializer.RealtimeStatechartModelInitializer">
      </initializer>
   </extension>

</plugin>
