<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="messageinterface_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="messageinterface_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

	
	
	
	
	
	<extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MessageinterfaceDiagramFile.gif"
         extensions="messageinterface_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlDiagramActionBarContributor">
      </editor>
   	</extension>
   	<extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   	</extension>

   	<extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MessageinterfaceDiagramFile.gif"
  	     category="de.fujaba/de.fujaba.diagrams"
  	     class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlCreationWizard"
  	     id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   	</extension>
	
	
	
	
	<extension point="org.eclipse.ui.menus">
	   <?gmfgen generated="true"?>   
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.fujaba?after=diagrams">
	      <command
	            commandId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.createDiagram"
	            icon="icons/obj16/MessageinterfaceDiagramFile.gif"
	            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.createDiagram"
	            label="Initialize Messageinterface Diagram"
	            style="push">
	            	<visibleWhen checkEnabled="false">
						<reference definitionId="de.fujaba.expression.fujabafile"></reference>
          			</visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

	
	<extension point="org.eclipse.ui.commands">
		<?gmfgen generated="true"?>
		<command
			categoryId="de.fujaba"
			description="Initialize realtimestatechart_diagram"
			defaultHandler="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlInitDiagramFileAction"
			id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

	
	<extension
         point="de.fujaba.modelinstance.modelelementcategory">
      <?gmfgen generated="true"?>  
      <category
            key="de.uni_paderborn.fujaba.muml.messageinterface.category"
            name="msgiface">
         
         <child
               class="MessageInterface"
               packageNsUri="http://www.fujaba.de/muml/model/msgiface/0.2.2">
         </child>
         
      </category>
   </extension>

	
	<extension
         point="de.fujaba.newwizard.diagraminformation">
      <?gmfgen generated="true"?>
      <editor
            preferencesHint="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram"
            editorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID"
            editorName="Messageinterface Editor"
            fileExtension="messageinterface_diagram"
            modelElementCategoryKey="de.uni_paderborn.fujaba.muml.messageinterface.category"
            modelId="Messageinterface">
         <diagramElement
               packageNsURI="http://www.fujaba.de/modelinstance/0.2.4"
               className="ModelElementCategory">
         </diagramElement>
         
         <node
               domainElement="MessageInterface"
               semanticHint="2004">
         </node>
         
         <node
               domainElement="MessageType"
               semanticHint="3005">
         </node>
         
      </editor>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MessageinterfacePresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MessageinterfacePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MessageinterfaceRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MumlMarkerNavigationProvider">
         <MarkerType name="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Messageinterface Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MessageinterfaceValidationDecoratorProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            name="%prefpage.de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.appearance"
            name="%prefpage.de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.appearance"
            category="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.connections"
            name="%prefpage.de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.connections"
            category="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.printing"
            name="%prefpage.de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.printing"
            category="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.rulersAndGrid"
            name="%prefpage.de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.rulersAndGrid"
            category="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.general"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram"
            labelProvider="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.sheet.MessageinterfaceSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="Advanced"/>

      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.sheet.MessageinterfacePropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>


   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>
      <propertyTabs
            contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertyTab
               label="Base"
               category="domain"
               id="Base">
         </propertyTab>
         <propertyTab
               label="Documentation"
               category="extra"
               id="Documentation"
               afterTab="Documentation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>
      <propertySections
            contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="property.section.eef"
               tab="Base">
            <input type="org.eclipse.gmf.runtime.notation.View"></input>
            <input type="org.eclipse.gef.EditPart"></input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>
      <propertySections
            contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.storydriven.modeling.section.CommentableElement"
               tab="Documentation">
            <input type="org.eclipse.gmf.runtime.notation.View"></input>
            <input type="org.eclipse.gef.EditPart"></input>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MumlViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Messageinterface"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2004,3005"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4004"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MumlEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Messageinterface"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2004,3005"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5009,5008"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7004"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MumlModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.parts.MessageInterfaceDiagramEditPart" id="ModelElementCategory_1000"/>
         <object class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.parts.MessageInterfaceEditPart" id="MessageInterface_2004"/>
         <context elements="ModelElementCategory_1000,MessageInterface_2004"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MumlIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.providers.MessageinterfaceParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.fujaba.de/modelinstance/0.2.4">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.ModelElementCategory_1000"
               name="%metatype.name.ModelElementCategory_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModelElementCategory"
               edithelper="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.helpers.MessageInterfaceDiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/model/msgiface/0.2.2">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageInterface_2004"
               name="%metatype.name.MessageInterface_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MessageInterface"
               edithelper="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.helpers.MessageInterfaceEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/model/msgiface/0.2.2">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageType_3005"
               name="%metatype.name.MessageType_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MessageType"
               edithelper="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.helpers.MessageTypeEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/model/msgiface/0.2.2">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageInterfaceSuperType_4004"
               name="%metatype.name.MessageInterfaceSuperType_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.ModelElementCategory_1000"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageInterface_2004"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageType_3005"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.MessageInterfaceSuperType_4004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram"
           properties="isURIEditorInput"
           class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.resourceContent"/>
			<contentExtension pattern="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.domainResourceContent"/>
            <contentExtension pattern="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceNavigatorLabelProvider"
            icon="icons/obj16/MessageinterfaceDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="messageinterface_diagram"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigatorSorter" 
               class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="messageinterface_diagram"/>
                  </and>
                  <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceDomainNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceDomainNavigatorLabelProvider"
            icon="icons/obj16/MessageinterfaceDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fujaba"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigatorActionProvider"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigatorLinkHelper"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlDiagramUpdateCommand"
         description="%update.diagram.description"
         id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.updateDiagram"
         contextId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.parts.MessageInterfaceDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID"
         defaultHandler="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->

   <extension
         point="de.uni_paderborn.fujaba.common.customItemProviderAdapterFactories">
   <?gmfgen generated="true"?>   
      <factory
            class="de.uni_paderborn.fujaba.muml.common.emf.edit.provider.CustomItemProviderFactory"
            pluginid="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram"
            priority="1"></factory>
   </extension>
</plugin>
