<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.muml.pim.messagetype.diagram.custom.providers.CustomMessageinterfaceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <ParserProvider class="org.muml.pim.messagetype.diagram.custom.providers.CustomMessageinterfaceParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>
   
   
   <extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
       <layoutProvider class="org.muml.pim.messagetype.diagram.custom.layout.MessageTypeLayoutProvider">
            <Priority name="High"/>
       </layoutProvider>
   </extension>
</plugin>
