<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.providers.CustomPlatformInstanceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba">
         <separator
               name="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.InitPlatformInstance"
               id="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.InitPlatformInstance"
               label="Initialize a Hardware Platform Instance"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.edit.parts.HWPlatformInstanceConfigurationEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.edit.handler.InitHWPlatformInstanceHandler"
            id="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.InitPlatformInstance"
            name="Initialize a Hardware Platform Instance">
      </command>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.providers.CustomPlatformInstanceEditPolicyProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpolicyProvider>
   </extension>
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.refactor.HWPlatformInstanceDecorationProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
<!--      <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.custom.refactor.ExtractSubdiagramHandler"
            id="testCommand"
            name="Refactor">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba">
         <command
               commandId="testCommand"
               id="testCommand"
               label="Refaaa"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.hardware.platforminstance.diagram.edit.parts.HWPlatformInstance2EditPart">
                        </instanceof></iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
-->
</plugin>
