<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.muml.core.export"
            name="MechatronicUML">
      </category>
      <wizard
            category="org.muml.core.export"
            class="org.muml.core.export.example.ExampleFujabaExportWizard"
            id="org.muml.core.export.ExampleWizard"
            name="Example Export Wizard">
      </wizard>
   </extension>

</plugin>
