<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.presentation.PsmModelWizardID"
            name="%_UI_PsmModelWizard_label"
            class="org.muml.psm.presentation.PsmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PsmModelFile.gif">
         <description>%_UI_PsmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.presentation.PsmEditorID"
            name="%_UI_PsmEditor_label"
            icon="icons/full/obj16/PsmModelFile.gif"
            extensions="muml_psm"
            class="org.muml.psm.presentation.PsmEditor"
            contributorClass="org.muml.psm.presentation.PsmActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.allocation.presentation.AllocationModelWizardID"
            name="%_UI_AllocationModelWizard_label"
            class="org.muml.psm.allocation.presentation.AllocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AllocationModelFile.gif">
         <description>%_UI_AllocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.allocation.presentation.AllocationEditorID"
            name="%_UI_AllocationEditor_label"
            icon="icons/full/obj16/AllocationModelFile.gif"
            extensions="allocation"
            class="org.muml.psm.allocation.presentation.AllocationEditor"
            contributorClass="org.muml.psm.allocation.presentation.AllocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.properties.presentation.PropertiesModelWizardID"
            name="%_UI_PropertiesModelWizard_label"
            class="org.muml.psm.properties.presentation.PropertiesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PropertiesModelFile.gif">
         <description>%_UI_PropertiesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.properties.presentation.PropertiesEditorID"
            name="%_UI_PropertiesEditor_label"
            icon="icons/full/obj16/PropertiesModelFile.gif"
            extensions="properties"
            class="org.muml.psm.properties.presentation.PropertiesEditor"
            contributorClass="org.muml.psm.properties.presentation.PropertiesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.presentation.Psm_realtimestatechartModelWizardID"
            name="%_UI_Psm_realtimestatechartModelWizard_label"
            class="org.muml.psm.psm_realtimestatechart.presentation.Psm_realtimestatechartModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Psm_realtimestatechartModelFile.gif">
         <description>%_UI_Psm_realtimestatechartModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.presentation.Psm_realtimestatechartEditorID"
            name="%_UI_Psm_realtimestatechartEditor_label"
            icon="icons/full/obj16/Psm_realtimestatechartModelFile.gif"
            extensions="psm_realtimestatechart"
            class="org.muml.psm.psm_realtimestatechart.presentation.Psm_realtimestatechartEditor"
            contributorClass="org.muml.psm.psm_realtimestatechart.presentation.Psm_realtimestatechartActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.realtimestatechartparameter.presentation.RealtimestatechartparameterModelWizardID"
            name="%_UI_RealtimestatechartparameterModelWizard_label"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameter.presentation.RealtimestatechartparameterModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RealtimestatechartparameterModelFile.gif">
         <description>%_UI_RealtimestatechartparameterModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.realtimestatechartparameter.presentation.RealtimestatechartparameterEditorID"
            name="%_UI_RealtimestatechartparameterEditor_label"
            icon="icons/full/obj16/RealtimestatechartparameterModelFile.gif"
            extensions="realtimestatechartparameter"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameter.presentation.RealtimestatechartparameterEditor"
            contributorClass="org.muml.psm.psm_realtimestatechart.realtimestatechartparameter.presentation.RealtimestatechartparameterActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.presentation.RealtimestatechartparameterbindingModelWizardID"
            name="%_UI_RealtimestatechartparameterbindingModelWizard_label"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.presentation.RealtimestatechartparameterbindingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RealtimestatechartparameterbindingModelFile.gif">
         <description>%_UI_RealtimestatechartparameterbindingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.presentation.RealtimestatechartparameterbindingEditorID"
            name="%_UI_RealtimestatechartparameterbindingEditor_label"
            icon="icons/full/obj16/RealtimestatechartparameterbindingModelFile.gif"
            extensions="realtimestatechartparameterbinding"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.presentation.RealtimestatechartparameterbindingEditor"
            contributorClass="org.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.presentation.RealtimestatechartparameterbindingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.psm_instance.presentation.Psm_instanceModelWizardID"
            name="%_UI_Psm_instanceModelWizard_label"
            class="org.muml.psm.psm_instance.presentation.Psm_instanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Psm_instanceModelFile.gif">
         <description>%_UI_Psm_instanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.psm_instance.presentation.Psm_instanceEditorID"
            name="%_UI_Psm_instanceEditor_label"
            icon="icons/full/obj16/Psm_instanceModelFile.gif"
            extensions="psm_instance"
            class="org.muml.psm.psm_instance.presentation.Psm_instanceEditor"
            contributorClass="org.muml.psm.psm_instance.presentation.Psm_instanceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.portapimapping.presentation.PortapimappingModelWizardID"
            name="%_UI_PortapimappingModelWizard_label"
            class="org.muml.psm.portapimapping.presentation.PortapimappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PortapimappingModelFile.gif">
         <description>%_UI_PortapimappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.portapimapping.presentation.PortapimappingEditorID"
            name="%_UI_PortapimappingEditor_label"
            icon="icons/full/obj16/PortapimappingModelFile.gif"
            extensions="portapimapping"
            class="org.muml.psm.portapimapping.presentation.PortapimappingEditor"
            contributorClass="org.muml.psm.portapimapping.presentation.PortapimappingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.apiexpressions.presentation.ApiexpressionsModelWizardID"
            name="%_UI_ApiexpressionsModelWizard_label"
            class="org.muml.psm.apiexpressions.presentation.ApiexpressionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ApiexpressionsModelFile.gif">
         <description>%_UI_ApiexpressionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.apiexpressions.presentation.ApiexpressionsEditorID"
            name="%_UI_ApiexpressionsEditor_label"
            icon="icons/full/obj16/ApiexpressionsModelFile.gif"
            extensions="apiexpressions"
            class="org.muml.psm.apiexpressions.presentation.ApiexpressionsEditor"
            contributorClass="org.muml.psm.apiexpressions.presentation.ApiexpressionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated psm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uni_paderborn.fujaba.muml.psm.codegen.presentation.CodegenModelWizardID"
            name="%_UI_CodegenModelWizard_label"
            class="org.muml.psm.codegen.presentation.CodegenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CodegenModelFile.gif">
         <description>%_UI_CodegenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated psm -->
      <editor
            id="de.uni_paderborn.fujaba.muml.psm.codegen.presentation.CodegenEditorID"
            name="%_UI_CodegenEditor_label"
            icon="icons/full/obj16/CodegenModelFile.gif"
            extensions="codegen"
            class="org.muml.psm.codegen.presentation.CodegenEditor"
            contributorClass="org.muml.psm.codegen.presentation.CodegenActionBarContributor">
      </editor>
   </extension>

</plugin>
