<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.muml.reconfiguration.design.Activator"
               id="org.muml.reconfiguration.design"
	       name="reconfiguration">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="org.muml.reconfiguration.design.edit.policies.MyEditPolicyProvider">
        <Priority
              name="Lowest">
        </Priority>
     </editpolicyProvider>
  </extension>
</plugin>
