<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testlanguage -->
      <package
            uri="http://www.muml.org/testlanguage/1.0"
            class="org.muml.testlanguage.TestLanguagePackage"
            genModel="model/testlanguage.genmodel"/>
   </extension>

</plugin>
