<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>MUML Core Dependencies</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.4.3">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn-serv.cs.upb.de/mechatronicuml/trunk/MUMLCore</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>APE</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H/15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf *buckminster*</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 4.3</installationName>
      <commands>import de.uni_paderborn.fujaba.core.feature/core.cquery
build -c
perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.core.feature#feature.exports
perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.core.feature#site.p2</commands>
      <logLevel>debug</logLevel>
      <params></params>
      <targetPlatformName>Eclipse Target Platform</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
  </builders>
  <publishers>
    <hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher plugin="buckminster@1.1.1">
      <artifacts>buckminster.output/de.uni_paderborn.fujaba.core.feature_0.4.0-eclipse.feature/site.p2/</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <targetPlatformName>MUMLCore</targetPlatformName>
    </hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher>
  </publishers>
  <buildWrappers/>
</project>