<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.muml.pim.component.diagram">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.muml.pim.component.diagram">
          <propertyTab
             category="domain"
             id="org.muml.dependencylanguage"
             afterTab=""
             label="Dependencies"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="org.muml.pim.component.diagram">
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.cbs.dependencylanguage.properties.tabs.Org_muml_dependencylanguageTabElementFilter"
            id="org.muml.dependencylanguage"
            tab="org.muml.dependencylanguage">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="org.muml.ape.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="org.muml.cbs.dependencylanguage.properties.dependencylanguage.editor.SynthesizableBehaviorEditor$Factory"
             type="http://www.muml.org/cbs/dependencylanguage/1.0.0#SynthesizableBehavior">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="org.muml.ape.runtime.metamodelContributor">
    <metamodel
          contributor="org.muml.cbs.dependencylanguage.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="org.muml.ape.runtime.creationConstraintContributor">
    <constraint
          contributor="org.muml.cbs.dependencylanguage.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
