<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ReachabilityAnalysisCore -->
      <package
            uri="http://www.muml.org/core/reachabilitygraph/1.0.0"
            class="org.muml.core.reachanalysis.reachabilitygraph.ReachabilityGraphPackage"
            genModel="model/ReachabilityAnalysisCore.genmodel"/>
   </extension>

</plugin>
