<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>
<extension-point id="modelelementcategory" name="modelelementcategory" schema="schema/modelelementcategory.exsd"/>
<extension-point id="version" name="version" schema="schema/version.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      
      <package class="de.uni_paderborn.fujaba.modelinstance.ModelinstancePackage" genModel="model/modelinstance.genmodel" uri="http://www.fujaba.de/modelinstance/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      
      <parser class="de.uni_paderborn.fujaba.modelinstance.util.ModelinstanceResourceFactoryImpl" type="fujaba"/>
   </extension>

</plugin>
