<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customItemProviderAdapterFactories" name="Custom ItemProviderAdapterFactories" schema="schema/customItemProviderAdapterFactories.exsd"/>
   <extension-point id="elementInitializer" name="Element Initializer" schema="schema/elementInitializer.exsd"/>

  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.fujabafile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.muml">
              </test>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.fujaba">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>

  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.typesfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.types">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>

  <extension
        point="org.eclipse.ui.views">
     <category
           id="de.uni_paderborn.fujaba.muml.views"
           name="MechatronicUML">
     </category>
  </extension>
  
</plugin>
