<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customItemProviderAdapterFactories" name="Custom ItemProviderAdapterFactories" schema="schema/customItemProviderAdapterFactories.exsd"/>
   <extension-point id="elementInitializer" name="Element Initializer" schema="schema/elementInitializer.exsd"/>

  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.fujabafile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.muml">
              </test>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.fujaba">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  
   <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.categoryfile">
	    <iterate
         	ifEmpty="false"
        	operator="and">
          <or>
             <reference definitionId="de.uni_paderborn.fujaba.expression.componentfile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.protocolfile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.instancefile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.msgtypefile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.patternfile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.realtimestatechartfile"></reference>
             <reference definitionId="de.uni_paderborn.fujaba.expression.typesfile"></reference>
          </or>
	    </iterate>
     </definition>
  </extension>
  
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.componentfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.components">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.protocolfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.coordination">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.instancefile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.instances">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  
  
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.msgtypefile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.msgtype">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  
  
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.patternfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.pattern">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
   
   
   
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.realtimestatechartfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.statechart">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
   
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.typesfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.types">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
</plugin>
