<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://component"
            class="component.ComponentPackage"
            genModel="model/component.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated instance -->
      <package
            uri="http://instance"
            class="instance.InstancePackage"
            genModel="model/instance.genmodel"/>
   </extension>

</plugin>
