<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.providers.CustomAtomiccomponentEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba">
         <separator
               name="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.copyRolePropertiesToPort"
               label="Copy Role Properties To Port"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.part.MumlDiagramEditorID">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.edit.parts.CustomDiscretePortEditPart">
                        </instanceof>
                     </iterate>
                  </with></and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.commands.CopyRolePropertiesToPort"
            id="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.copyRolePropertiesToPort"
            name="Copy Role Properties To Port">
      </command>
   </extension>

</plugin>
