<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://statechart"
            class="de.uni_paderborn.fujaba.muml.realtimeStatechart.RealtimeStatechartPackage"
            genModel="model/realtimeStatechart.genmodel"/>
   </extension>

</plugin>
