<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Cybertron PSM Feature</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.4.3">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn-serv.cs.uni-paderborn.de/pg-cybertron/trunk/02_implementation</remote>
        <credentialsId>130c965f-52b9-4ca3-a60b-72e0516f9559</credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithRevertUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf *buckminster* 
rm -rf *org.story*
rm -rf de.uni_paderborn.fujaba.muml.actionlanguage
rm -rf de.uni_paderborn.fujaba.muml
rm -rf de.uni_paderborn.fujaba.muml.hardware
rm -rf de.uni_paderborn.fujaba.modelinstance
rm -rf de.uni_paderborn.fujaba.muml.psm.codegen
rm -rf de.uni_paderborn.fujaba.muml.psm.codegen.edit
find . -type f -name &quot;*.emtl&quot; -exec rm -f {} \;
patch -p0 &lt; ${WORKSPACE}/patches/allocation.patch</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>MUMLCore</project>
      <filter>de.uni_paderborn.fujaba.muml/, de.uni_paderborn.fujaba.muml.hardware/ , de.uni_paderborn.fujaba.modelinstance/ , de.uni_paderborn.fujaba.muml.actionlanguage/, de.uni_paderborn.fujaba.muml.psm.codegen/,  de.uni_paderborn.fujaba.muml.psm.codegen.edit/ , plugins/</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.WorkspaceSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>mv $WORKSPACE/plugins/* $WORKSPACE</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 4.3</installationName>
      <commands>import de.uni_paderborn.fujaba.muml.cybertron.feature/cybertron.cquery
build
</commands>
      <logLevel>debug</logLevel>
      <params></params>
      <targetPlatformName>Eclipse Target Platform</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>compile</targets>
      <antName>Ant 1.9.4</antName>
      <buildFile>./de.uni_paderborn.fujaba.muml.model.gen.c/buildstandalone_new_jenkins.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 4.3</installationName>
      <commands>perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.muml.cybertron.feature#feature.exports
perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.muml.cybertron.feature#site.p2</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>Eclipse Target Platform</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
  </builders>
  <publishers>
    <hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher plugin="buckminster@1.1.1">
      <artifacts>buckminster.output/de.uni_paderborn.fujaba.muml.cybertron.feature_1.0.0-eclipse.feature/site.p2/</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <targetPlatformName>Cybertron_PSM</targetPlatformName>
    </hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher>
  </publishers>
  <buildWrappers/>
</project>