<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.custom.providers.CustomComponentStoryDiagramEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
<extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
	      <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/componentstorypattern/0.3.3">
	         <adviceBinding
                class="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.custom.edit.helpers.SinglePortVariableEditHelperAdvice"
                id="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3017Advice"
                inheritance="all"
                typeId="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3017">
	         </adviceBinding>
	      </metamodel>
	    <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/componentstorypattern/0.3.3">
	         <adviceBinding
                class="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.custom.edit.helpers.SinglePortVariableEditHelperAdvice"
                id="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3018Advice"
                inheritance="all"
                typeId="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3018">
	         </adviceBinding>
	      </metamodel>
	      <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/componentstorypattern/0.3.3">
	         <adviceBinding
                class="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.custom.edit.helpers.SinglePortVariableEditHelperAdvice"
                id="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3020Advice"
                inheritance="all"
                typeId="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3020">
	         </adviceBinding>
	      </metamodel>
      </extension>
      
      <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      	<binding context="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.TypeContext">
      		<elementType ref="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3017"/>
      		<advice ref="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3017Advice"/>
      	</binding>
      </extension>
      
      <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      	<binding context="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.TypeContext">
      		<elementType ref="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3018"/>
      		<advice ref="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3018Advice"/>
      	</binding>
      </extension>
      
      <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      	<binding context="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.TypeContext">
      		<elementType ref="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.diagram.SinglePortVariable_3020"/>
      		<advice ref="de.uni_paderborn.fujaba.muml.componentstorydiagrameditor.diagram.SinglePortVariable_3020Advice"/>
      	</binding>
      </extension>
</plugin>

