<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
            description="Transforms this structured component into a reconfigurable structured component."
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
            name="Make Reconfigurable">
      </command>
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
            description="Generates Real-Time Statecharts for the Manager and Executor of this ReconfigurableStructuredComponent."
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
            name="Generate Manager and Executor Implementation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
               icon="icons/MakeReconfigurable.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
               label="Make Reconfigurable"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.component.diagram.edit.parts.StaticStructuredComponentEditPart">
                        </instanceof>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.component.StaticStructuredComponent">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
               icon="icons/GenerateImplementation.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
               label="Generate Manager and Executor Implementation"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableStructuredComponent">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="de.uni_paderborn.fujaba.modelinstance.modelelementcategory">
      <category
            key="de.uni_paderborn.fujaba.muml.components.category"
            name="component">
         <child
               class="ReconfigurableStructuredComponent"
               packageNsUri="http://www.fujaba.de/muml/reconfiguration/0.3.18">
         </child>
      </category>
   </extension>
 <!--  <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.internal.DefaultPaletteProvider">
         <Priority
               name="High">
         </Priority>
         <editor
               id="de.uni_paderborn.fujaba.muml.component.diagram.part.ComponentDiagramEditorID"></editor>
         <contribution
               factoryClass="de.uni_paderborn.fujaba.muml.component.diagram.part.MumlPaletteFactory">
            <entry
                  defineOnly="false"
                  description="Creates a reconfigurable structured component."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.ReconfigurableStructuredComponentTool"
                  kind="tool"
                  label="Reconfigurable Structured Component"
                  path="createComponents1Group/"
                  permission="Full">
            </entry>
         </contribution>
      </paletteProvider>

   </extension>
 -->   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.reconfiguration.ui.providers.CustomReconfigurationEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
</plugin>
