<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="LPSolveBlackboxUnit"
            namespace="de.uni_paderborn.fujaba.muml.allocation.algorithm.lpsolve">
         <library
               class="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.lpsolve.LPSolve"
               name="LPSolveBlackbox">
            <metamodel
                  nsURI="http://www.fujaba.de/muml/allocation/ilp/0.1.0">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="de.uni_paderborn.fujaba.muml.allocation.algorithm.strategy">
      <strategy
            class="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.lpsolve.LPSolveAllocationComputationStrategy"
            description="ILP-based allocation computation strategy (using lpsolve)"
            name="LPSolve Allocation Computation Strategy">
      </strategy>
   </extension>
   <extension
         point="de.uni_paderborn.fujaba.muml.allocation.algorithm.strategy">
      <strategy
            class="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.lpsolve.LPSolveAllocationComputationStrategy"
            description="foobar strategy"
            name="Foo">
      </strategy>
   </extension>

</plugin>
