<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="OCLEvaluatorBlackboxUnit"
            namespace="de.uni_paderborn.fujaba.muml.allocation.algorithm.ocl">
         <library
               class="de.uni_paderborn.fujaba.muml.allocation.algorithm.ocl.OCLEvaluator"
               name="OCLEvaluatorBlackbox">
            <metamodel
                  nsURI="http://www.eclipse.org/ocl/3.1.0/EssentialOCLCST">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/ocl/3.1.0/Pivot">
            </metamodel>
            <metamodel
                  nsURI="http://ww.eclipse.org/OCL/Values">
            </metamodel>
            <metamodel
                  nsURI="http://www.fujaba.de/muml/allocation/language/0.1.0/cs">
            </metamodel>
         </library>
      </unit>
      <unit
            name="TupleAccessorBlackboxUnit"
            namespace="de.uni_paderborn.fujaba.muml.allocation.algorithm.ocl">
         <library
               class="de.uni_paderborn.fujaba.muml.allocation.algorithm.ocl.TupleAccessor"
               name="TupleAccessorBlackbox">
            <metamodel
                  nsURI="http://www.fujaba.de/muml/allocation/language/0.1.0/cs">
            </metamodel>
            <metamodel
                  nsURI="http://www.storydriven.org/core/0.3.1">
            </metamodel>
            <metamodel
                  nsURI="http://ww.eclipse.org/OCL/Values">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="transforms/Specification2ILP.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.Specification2ILP">
      </transformation>
      <transformation
            file="transforms/Variables.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.Variables">
      </transformation>
      <transformation
            file="transforms/HWUtil.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.HWUtil">
      </transformation>
      <transformation
            file="transforms/TupleAccessor.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.TupleAccessor">
      </transformation>
      <transformation
            file="transforms/LocationConstraint.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.LocationConstraint">
      </transformation>
      <transformation
            file="transforms/Util.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.Util">
      </transformation>
      <transformation
            file="transforms/ObjectiveFunction.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.ObjectiveFunction">
      </transformation>
      <transformation
            file="transforms/Expressions.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.Expressions">
      </transformation>
      <transformation
            file="transforms/GeneralConstraint.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.GeneralConstraint">
      </transformation>
      <transformation
            file="transforms/VariableHelper.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.VariableHelper">
      </transformation>
      <transformation
            file="transforms/Sort.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.Sort">
      </transformation>
      <transformation
            file="transforms/ResourceConstraint.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.ResourceConstraint">
      </transformation>
      <transformation
            file="transforms/OCLEvaluator.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.OCLEvaluator">
      </transformation>
      <transformation
            file="transforms/RequiredHardwareResourceInstanceConstraint.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.RequiredHardwareResourceInstanceConstraint">
      </transformation>
      <transformation
            file="transforms/SolverConstants.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.SolverConstants">
      </transformation>
      <transformation
            file="transforms/AbstractILPBasedAlgorithm.qvto"
            id="de.uni_paderborn.fujaba.muml.allocation.algorithm.ilp.transforms.AbstractILPBasedAlgorithm">
      </transformation>
   </extension>
</plugin>
