<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <?emfgen generated="true"?>
      <package class="de.uni_paderborn.fujaba.muml.actionlanguage.ActionLanguagePackage" genModel="model/actionlanguage.genmodel" uri="http://www.fujaba.de/muml/actionlanguage/0.3.16"/>
   </extension>

</plugin>
