<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
 <copyright>
 </copyright>

 $Id$
--><plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TimedStoryDiagrams -->
      <package
            uri="http://www.fujaba.de/timedstorydiagram/0.1.0"
            class="de.uni_paderborn.fujaba.muml.timedstorydiagram.TimedstorydiagramPackage"
            genModel="model/TimedStoryDiagrams.genmodel"/>
   </extension>

</plugin>
