<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.582</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:adann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:bingo</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:geismann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:muml</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:adann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:bingo</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:geismann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:muml</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:adann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:bingo</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:geismann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:muml</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:adann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:bingo</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:geismann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:muml</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:adann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:bingo</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:geismann</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:muml</permission>
    <permission>hudson.model.Computer.Build:adann</permission>
    <permission>hudson.model.Computer.Build:admin</permission>
    <permission>hudson.model.Computer.Build:bingo</permission>
    <permission>hudson.model.Computer.Build:geismann</permission>
    <permission>hudson.model.Computer.Build:muml</permission>
    <permission>hudson.model.Computer.Configure:adann</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:bingo</permission>
    <permission>hudson.model.Computer.Configure:geismann</permission>
    <permission>hudson.model.Computer.Configure:muml</permission>
    <permission>hudson.model.Computer.Connect:adann</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Connect:bingo</permission>
    <permission>hudson.model.Computer.Connect:geismann</permission>
    <permission>hudson.model.Computer.Connect:muml</permission>
    <permission>hudson.model.Computer.Create:adann</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Create:bingo</permission>
    <permission>hudson.model.Computer.Create:geismann</permission>
    <permission>hudson.model.Computer.Create:muml</permission>
    <permission>hudson.model.Computer.Delete:adann</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Delete:bingo</permission>
    <permission>hudson.model.Computer.Delete:geismann</permission>
    <permission>hudson.model.Computer.Delete:muml</permission>
    <permission>hudson.model.Computer.Disconnect:adann</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.Disconnect:bingo</permission>
    <permission>hudson.model.Computer.Disconnect:geismann</permission>
    <permission>hudson.model.Computer.Disconnect:muml</permission>
    <permission>hudson.model.Hudson.Administer:adann</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.Administer:bingo</permission>
    <permission>hudson.model.Hudson.Administer:geismann</permission>
    <permission>hudson.model.Hudson.Administer:muml</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:adann</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:bingo</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:geismann</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:muml</permission>
    <permission>hudson.model.Hudson.Read:adann</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:bingo</permission>
    <permission>hudson.model.Hudson.Read:geismann</permission>
    <permission>hudson.model.Hudson.Read:muml</permission>
    <permission>hudson.model.Hudson.RunScripts:adann</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.RunScripts:bingo</permission>
    <permission>hudson.model.Hudson.RunScripts:geismann</permission>
    <permission>hudson.model.Hudson.RunScripts:muml</permission>
    <permission>hudson.model.Hudson.UploadPlugins:adann</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:bingo</permission>
    <permission>hudson.model.Hudson.UploadPlugins:geismann</permission>
    <permission>hudson.model.Hudson.UploadPlugins:muml</permission>
    <permission>hudson.model.Item.Build:adann</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Build:bingo</permission>
    <permission>hudson.model.Item.Build:geismann</permission>
    <permission>hudson.model.Item.Build:muml</permission>
    <permission>hudson.model.Item.Cancel:adann</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Cancel:bingo</permission>
    <permission>hudson.model.Item.Cancel:geismann</permission>
    <permission>hudson.model.Item.Cancel:muml</permission>
    <permission>hudson.model.Item.Configure:adann</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Configure:bingo</permission>
    <permission>hudson.model.Item.Configure:geismann</permission>
    <permission>hudson.model.Item.Configure:muml</permission>
    <permission>hudson.model.Item.Create:adann</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Create:bingo</permission>
    <permission>hudson.model.Item.Create:geismann</permission>
    <permission>hudson.model.Item.Create:muml</permission>
    <permission>hudson.model.Item.Delete:adann</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Delete:bingo</permission>
    <permission>hudson.model.Item.Delete:geismann</permission>
    <permission>hudson.model.Item.Delete:muml</permission>
    <permission>hudson.model.Item.Discover:adann</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.Discover:bingo</permission>
    <permission>hudson.model.Item.Discover:geismann</permission>
    <permission>hudson.model.Item.Discover:muml</permission>
    <permission>hudson.model.Item.Read:adann</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:bingo</permission>
    <permission>hudson.model.Item.Read:geismann</permission>
    <permission>hudson.model.Item.Read:muml</permission>
    <permission>hudson.model.Item.Workspace:adann</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Workspace:bingo</permission>
    <permission>hudson.model.Item.Workspace:geismann</permission>
    <permission>hudson.model.Item.Workspace:muml</permission>
    <permission>hudson.model.Run.Delete:adann</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:bingo</permission>
    <permission>hudson.model.Run.Delete:geismann</permission>
    <permission>hudson.model.Run.Delete:muml</permission>
    <permission>hudson.model.Run.Update:adann</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:bingo</permission>
    <permission>hudson.model.Run.Update:geismann</permission>
    <permission>hudson.model.Run.Update:muml</permission>
    <permission>hudson.model.View.Configure:adann</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:bingo</permission>
    <permission>hudson.model.View.Configure:geismann</permission>
    <permission>hudson.model.View.Configure:muml</permission>
    <permission>hudson.model.View.Create:adann</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:bingo</permission>
    <permission>hudson.model.View.Create:geismann</permission>
    <permission>hudson.model.View.Create:muml</permission>
    <permission>hudson.model.View.Delete:adann</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Delete:bingo</permission>
    <permission>hudson.model.View.Delete:geismann</permission>
    <permission>hudson.model.View.Delete:muml</permission>
    <permission>hudson.model.View.Read:adann</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:bingo</permission>
    <permission>hudson.model.View.Read:geismann</permission>
    <permission>hudson.model.View.Read:muml</permission>
    <permission>hudson.scm.SCM.Tag:adann</permission>
    <permission>hudson.scm.SCM.Tag:bingo</permission>
    <permission>hudson.scm.SCM.Tag:geismann</permission>
    <permission>hudson.scm.SCM.Tag:muml</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <description>MUML Build Server</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>