<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
   		<unit name="TypesBlackbox" namespace="de.uni_paderborn.fujaba.muml.types._library">
    		<library name="TypesBlackboxLib" class="de.uni_paderborn.fujaba.muml.types.blackbox.TypesBlackbox">
    			<metamodel nsURI="http://www.fujaba.de/muml/types/0.4.0"/>
    		</library>
		</unit>
	</extension>	
<extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformationContainer">
    <sourceContainer
          path="transforms/">
 </sourceContainer>
 </extension>
 <extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
    <library
          file="transforms/PredefinedTypesLibrary.qvto"
          id="PredefinedTypesLibrary">
    </library>
 </extension>
</plugin>
