<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uni_paderborn.fujaba.modelinstance.ui.diagraminformation" name="DiagramInformation" schema="schema/diagraminformation.exsd"/>
   <extension-point id="de.uni_paderborn.fujaba.modelinstance.ui.modelinitializer" name="Modelinitializer" schema="schema/modelinitializer.exsd"/>
  <extension point="org.eclipse.ui.newWizards" >
    <category name="Fujaba" id="de.uni_paderborn.fujaba" />
    <category name="Diagrams" id="de.uni_paderborn.fujaba.diagrams"
         parentCategory="de.uni_paderborn.fujaba"/>

    <wizard
           category="de.uni_paderborn.fujaba"
           class="de.uni_paderborn.fujaba.modelinstance.ui.model.FujabaModelNewWizard"
           icon="icons/newfujabamodel.gif"
           id="de.uni_paderborn.fujaba.muml.modelwizard.FujabaNewModelWizardID"
           name="Fujaba Model">
         <description>
            Creates a new Fujaba model file
         </description>
    </wizard>
    
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <menu
              icon="icons/newfujabamodel.gif"
              id="de.uni_paderborn.fujaba"
              label="Fujaba">
           <command
                 commandId="de.uni_paderborn.fujaba.core.ui.command.newmodel"
                 icon="icons/newfujabamodel.gif"
                 id="de.uni_paderborn.fujaba.core.ui.command.newmodel"
                 label="Create new Fujaba Model"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="true"
                       operator="or">
                 </iterate>
              </visibleWhen>
           </command>
           <separator
                 name="structural-diagrams"
                 visible="true">
           </separator>
           <separator
                 name="behavioral-diagrams"
                 visible="true">
           </separator>
           <separator
                 name="diagrams"
                 visible="true">
           </separator>
           <separator
                 name="types"
                 visible="true">
           </separator>
           <separator
                 name="additions"
                 visible="false">
           </separator>
           <separator
                 name="utilities"
                 visible="true">
           </separator>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="de.uni_paderborn.fujaba.expression.fujabafile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
	          <test property="org.eclipse.core.resources.name" 
	                value="*.fujaba"/>
	       </adapt>
	    </iterate>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="de.uni_paderborn.fujaba"
           name="Fujaba">
     </category>
     <command
           categoryId="de.uni_paderborn.fujaba"
           defaultHandler="de.uni_paderborn.fujaba.modelinstance.ui.ui.commands.CreateModelFileCommand"
           description="Create new Fujaba Model"
           id="de.uni_paderborn.fujaba.core.ui.command.newmodel"
           name="Create new Fujaba Model">
     </command>
  </extension>

</plugin>
