<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.custom.providers.CustomSDDEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.TypeContext">
         <elementType
               ref="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.SinglePortVariable_3005">
         </elementType>
         <advice
               ref="org.muml.reconfiguration.componentstorydiagram.diagram.SinglePortVariable_3005Advice">
         </advice>
      </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.muml.org/reconfiguration/componentstorypattern/1.0.0">
         <adviceBinding
               class="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.custom.edit.helper.SinglePortVariableEditHelperAdvice"
               id="org.muml.reconfiguration.componentstorydiagram.diagram.SinglePortVariable_3005Advice"
               inheritance="all"
               typeId="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.SinglePortVariable_3005">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.muml.core.modelinstance.ui.modelinitializer">
      <initializer
            initializer="org.muml.reconfiguration.verification.sdd.componentsdd.diagram.custom.initializer.ComponentStoryDecisionDiagramInitializer">
      </initializer>
   </extension>

</plugin>
