<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.hardware.resourceinstance.diagram.custom.providers.CustomResourceInstanceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="de.uni_paderborn.fujaba.muml.hardware.resourceinstance.diagram.custom.providers.CustomResourceInstanceParserProvider">
         <Priority
               name="Low">
         </Priority>
      </ParserProvider>
   </extension>

</plugin>
