<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateExampleHandler"
            id="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateExample"
            name="CreateExample">
      </command>
      <command
            defaultHandler="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateNewVariableHandler"
            description="Creates a new Variable"
            id="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateNewVariable"
            name="CreateNewVariable">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131EditorID">
         <menu
               label="IEC61131 Spec Ops">
            <command
                  commandId="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateExample"
                  label="Create the example data model"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="de.fraunhofer.iem.m4a.IEC61131.IEC61131">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="de.fraunhofer.iem.m4a.iec61131.editor.utils.CreateNewVariable"
                  label="Create new Variable"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="de.fraunhofer.iem.m4a.IEC61131.core.LibraryElement">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
