<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="deployment_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="deployment_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

	
	
	
	
	
	<extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DeploymentDiagramFile.gif"
         extensions="deployment_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramActionBarContributor">
      </editor>
   	</extension>
   	<extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="de.uni_paderborn.fujaba.muml.deployment.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   	</extension>

   	<extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DeploymentDiagramFile.gif"
  	     category="de.uni_paderborn.fujaba/de.uni_paderborn.fujaba.diagrams"
  	     class="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlCreationWizard"
  	     id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   	</extension>
	
	
	
	
	<extension point="org.eclipse.ui.menus">
	   <?gmfgen generated="true"?>   
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
	      <command
	            commandId="de.uni_paderborn.fujaba.muml.deployment.diagram.createDiagram"
	            icon="icons/obj16/DeploymentDiagramFile.gif"
	            id="de.uni_paderborn.fujaba.muml.deployment.diagram.createDiagram"
	            label="Initialize Deployment Diagram"
	            style="push">
	            	<visibleWhen checkEnabled="false">
						<reference definitionId="de.uni_paderborn.fujaba.expression.fujabafile"></reference>
          			</visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

	
	<extension point="org.eclipse.ui.commands">
		<?gmfgen generated="true"?>
		<command
			categoryId="de.uni_paderborn.fujaba"
			description="Initialize realtimestatechart_diagram"
			defaultHandler="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlInitDiagramFileAction"
			id="de.uni_paderborn.fujaba.muml.deployment.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

	
	<extension
         point="de.uni_paderborn.fujaba.modelinstance.modelelementcategory">
      <?gmfgen generated="true"?>  
      <category
            key="de.uni_paderborn.fujaba.muml.deployment.category"
            name="deployment">
         
         <child
               class="HardwareNode"
               packageNsUri="http://www.fujaba.de/muml/deployment/0.3.11">
         </child>
         
      </category>
   </extension>

	
	<extension
         point="de.uni_paderborn.fujaba.modelinstance.ui.diagraminformation">
      <?gmfgen generated="true"?>
      <editor
            preferencesHint="de.uni_paderborn.fujaba.muml.deployment.diagram"
            editorId="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID"
            editorName="Deployment Editor"
            fileExtension="deployment_diagram"
            modelElementCategoryKey="de.uni_paderborn.fujaba.muml.deployment.category"
            modelId="Deployment">
         <diagramElement
               packageNsURI="http://www.fujaba.de/muml/deployment/0.3.11"
               className="Deployment">
         </diagramElement>
         
         <topLevelNode
               domainElement="HardwareNode"
               semanticHint="2001">
         </topLevelNode>
         
      </editor>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="DeploymentPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="DeploymentPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="DeploymentRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlMarkerNavigationProvider">
         <MarkerType name="de.uni_paderborn.fujaba.muml.deployment.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Deployment Diagram-Editor problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="de.uni_paderborn.fujaba.muml.diagram.general"
            name="%prefpage.de.uni_paderborn.fujaba.muml.diagram.general"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.diagram.appearance"
            name="%prefpage.de.uni_paderborn.fujaba.muml.diagram.appearance"
            category="de.uni_paderborn.fujaba.muml.diagram.general"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.diagram.connections"
            name="%prefpage.de.uni_paderborn.fujaba.muml.diagram.connections"
            category="de.uni_paderborn.fujaba.muml.diagram.general"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.diagram.printing"
            name="%prefpage.de.uni_paderborn.fujaba.muml.diagram.printing"
            category="de.uni_paderborn.fujaba.muml.diagram.general"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.diagram.rulersAndGrid"
            name="%prefpage.de.uni_paderborn.fujaba.muml.diagram.rulersAndGrid"
            category="de.uni_paderborn.fujaba.muml.diagram.general"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   
   
   

   

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Deployment"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,3001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Deployment"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,3001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.parts.DeploymentEditPart" id="Deployment_1000"/>
         <object class="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.parts.HardwareNodeEditPart" id="HardwareNode_2001"/>
         <object class="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.parts.HardwarePortEditPart" id="HardwarePort_3001"/>
         <context elements="Deployment_1000,HardwareNode_2001,HardwarePort_3001"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.muml.deployment.diagram.providers.MumlParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.fujaba.de/muml/deployment/0.3.11">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.deployment.diagram.Deployment_1000"
               name="%metatype.name.Deployment_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Deployment"
               edithelper="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.helpers.DeploymentEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/deployment/0.3.11">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.deployment.diagram.HardwareNode_2001"
               name="%metatype.name.HardwareNode_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HardwareNode"
               edithelper="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.helpers.HardwareNodeEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/deployment/0.3.11">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.deployment.diagram.HardwarePort_3001"
               name="%metatype.name.HardwarePort_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HardwarePort"
               edithelper="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.helpers.HardwarePortEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/deployment/0.3.11">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.deployment.diagram.CommunicationLink_4001"
               name="%metatype.name.CommunicationLink_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CommunicationLink"
               edithelper="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.helpers.CommunicationLinkEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="de.uni_paderborn.fujaba.muml.deployment.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uni_paderborn.fujaba.muml.deployment.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uni_paderborn.fujaba.muml.deployment.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.deployment.diagram.Deployment_1000"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.deployment.diagram.HardwareNode_2001"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.deployment.diagram.HardwarePort_3001"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.deployment.diagram.CommunicationLink_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="de.uni_paderborn.fujaba.muml.deployment.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="de.uni_paderborn.fujaba.muml.deployment.diagram"
           properties="isURIEditorInput"
           class="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="de.uni_paderborn.fujaba.muml.deployment.diagram.resourceContent"/>
			<contentExtension pattern="de.uni_paderborn.fujaba.muml.deployment.diagram.domainResourceContent"/>
            <contentExtension pattern="de.uni_paderborn.fujaba.muml.deployment.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="de.uni_paderborn.fujaba.muml.deployment.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="de.uni_paderborn.fujaba.muml.deployment.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlNavigatorLabelProvider"
            icon="icons/obj16/DeploymentDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="deployment_diagram"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="de.uni_paderborn.fujaba.muml.deployment.diagram.navigatorSorter" 
               class="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="deployment_diagram"/>
                  </and>
                  <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="de.uni_paderborn.fujaba.muml.deployment.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlDomainNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlDomainNavigatorLabelProvider"
            icon="icons/obj16/DeploymentDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fujaba"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="de.uni_paderborn.fujaba.muml.deployment.diagram.navigatorActionProvider"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="de.uni_paderborn.fujaba.muml.deployment.diagram.navigatorLinkHelper"
            class="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="de.uni_paderborn.fujaba.muml.deployment.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.navigator.MumlAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramUpdateCommand"
         description="%update.diagram.description"
         id="de.uni_paderborn.fujaba.muml.deployment.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="de.uni_paderborn.fujaba.muml.deployment.diagram.updateDiagram"
         contextId="de.uni_paderborn.fujaba.muml.deployment.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="de.uni_paderborn.fujaba.muml.deployment.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="de.uni_paderborn.fujaba.muml.deployment.diagram.edit.parts.DeploymentEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="de.uni_paderborn.fujaba.muml.deployment.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="de.uni_paderborn.fujaba.muml.deployment.diagram.part.MumlDiagramEditorID"
         defaultHandler="de.uni_paderborn.fujaba.muml.deployment.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
