<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.apimapping"
            id="org.muml.c.adapter.apimappinglanguage.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.muml.c.adapter.apimappinglanguage.ui.popupMenus.AcceleoGenerateMechatronicUMLAPIMappingCGeneratorAction"
               enablesFor="+"
               id="org.muml.c.adapter.apimappinglanguage.ui.popupMenus.acceleoGenerateMechatronicUMLAPIMappingCGeneratorAction"
               icon="icons/default.gif"
               label="Generate MechatronicUML API Mapping C"
               menubarPath="additionsAcceleo"/>
      </objectContribution>
   </extension>
</plugin>
