<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.muml.common.properties">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>








 <extension point="de.uni_paderborn.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.BlockEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#Block">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.WhileLoopEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#WhileLoop">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.DoWhileLoopEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#DoWhileLoop">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.AssignmentEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#Assignment">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.ForLoopEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#ForLoop">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.IfStatementEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#IfStatement">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.OperationCallEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#OperationCall">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.ReturnStatementEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#ReturnStatement">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.TriggerMessageExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#TriggerMessageExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.DiscreteInteractionEndpointReferenceEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#DiscreteInteractionEndpointReference">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.PositionSelectorEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#PositionSelector">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.LocalVariableDeclarationStatementEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#LocalVariableDeclarationStatement">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.TypedNamedElementExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#TypedNamedElementExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.ArrayInitializeExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#ArrayInitializeExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.NondeterministicChoiceExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#NondeterministicChoiceExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.ParameterExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#ParameterExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.actionlanguage.properties.actionlanguage.editor.TimeValueExpressionEditor$Factory"
             type="http://www.fujaba.de/muml/actionlanguage/0.4.0#TimeValueExpression">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.metamodelContributor">
    <metamodel
          contributor="de.uni_paderborn.fujaba.muml.actionlanguage.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.creationConstraintContributor">
    <constraint
          contributor="de.uni_paderborn.fujaba.muml.actionlanguage.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
