<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.properties.contributor">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.properties.contributor">
          <propertyTab
             category="domain"
             id="de.uni_paderborn.fujaba.properties.tab.general"
             label="General"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="de.uni_paderborn.fujaba.properties.contributor">
          <propertySection
            class="de.uni_paderborn.fujaba.properties.runtime.sections.ObjectPropertySection"
            filter="de.uni_paderborn.fujaba.properties.tabs.GeneralTabElementFilter"
            id="de.uni_paderborn.fujaba.properties.tab.general"
            tab="de.uni_paderborn.fujaba.properties.tab.general">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="de.uni_paderborn.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PropertyGeneratorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.PropertyGenerator">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.ReconcilerEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.Reconciler">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.CustomTransformationEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.CustomTransformation">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PluginEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.Plugin">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PropertyTabEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.PropertyTab">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PackageEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.Package">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.ClassEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.Class">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PropertyCategoryEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.PropertyCategory">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.PropertyEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.Property">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.TextPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.TextPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.SpinnerPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.SpinnerPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.ComboBoxPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.ComboBoxPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.CheckboxPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.CheckboxPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.RadioPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.RadioPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.ListPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.ListPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.ObjectPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.ObjectPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.OCLPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.OCLPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.CustomPropertyEditorEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.CustomPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.properties.editor.OCLPropertyFilterEditor$Factory"
             type="de.uni_paderborn.fujaba.properties.OCLPropertyFilter">
       </propertyEditor>
    
    </propertyEditors>
 </extension>

</plugin>
