<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.muml.pm.hardware.platforminstance.diagram.custom.providers.CustomPlatformInstanceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.muml">
         <separator
               name="org.muml.pm.hardware.platforminstance.diagram.custom.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.muml.pm.hardware.platforminstance.diagram.custom.InitPlatformInstance"
               id="org.muml.pm.hardware.platforminstance.diagram.custom.InitPlatformInstance"
               label="Initialize a Hardware Platform Instance"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.muml.pm.hardware.hwplatform.HWPlatform">
                        </adapt>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.pm.hardware.platforminstance.diagram.custom.edit.handler.InitHWPlatformInstanceHandler"
            id="org.muml.pm.hardware.platforminstance.diagram.custom.InitPlatformInstance"
            name="Initialize a Hardware Platform Instance">
      </command>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.muml.org/pm/hardware/hwplatforminstance/1.0.0">
         <adviceBinding
               class="org.muml.pm.hardware.platforminstance.diagram.custom.edit.helper.HWPlatformInstanceEditHelperAdvice"
               id="org.muml.pm.hardware.platforminstance.diagram.custom.adviceBinding1"
               inheritance="none"
               typeId="org.muml.pm.hardware.platforminstance.diagram.HWPlatformInstance_2005">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="org.muml.pm.hardware.platforminstance.diagram.TypeContext">
         <advice
               ref="org.muml.pm.hardware.platforminstance.diagram.custom.adviceBinding1">
         </advice>
      </binding>
   </extension>
 <!--   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.muml.pm.hardware.platforminstance.diagram.custom.refactor.HWPlatformInstanceDecorationProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension> -->
<!--      <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.pm.hardware.platforminstance.diagram.custom.refactor.ExtractSubdiagramHandler"
            id="testCommand"
            name="Refactor">
      </command>
   </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.muml">
         <command
               commandId="testCommand"
               id="testCommand"
               label="Refaaa"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="org.muml.pm.hardware.platforminstance.diagram.edit.parts.HWPlatformInstance2EditPart">
                        </instanceof></iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
-->
</plugin>
