<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.muml.psm.allocation.algorithm.ui.oclContextSelectionProvider" name="OCLContextSelectionProvider" schema="schema/org.muml.psm.allocation.algorithm.ui.oclContextSelectionProvider.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardHandler"
            id="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardCommand"
            name="Plan System Allocation">
      </command>
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.psm.allocation.algorithm.ui.CreateASLFileHandler"
            id="org.muml.psm.allocation.algorithm.ui.CreateASLFileCommand"
            name="Create Allocation Constraint and Optimization Specification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.muml">
         <command
               commandId="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardCommand"
               label="Plan System Allocation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="org.muml.expression.mumlfile">
                  </reference>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.allocation_specification">
                        </test>
                     </adapt>
                  </iterate>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.muml">
         <command
               commandId="org.muml.psm.allocation.algorithm.ui.CreateASLFileCommand"
               label="Create Allocation Constraint and Optimization Specification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.muml.expression.mumlfile">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu??after=additions">
         <command
               commandId="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardCommand"
               label="Compute Allocation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.muml.core.export"
            class="org.muml.psm.allocation.algorithm.ui.wizard.AllocationWizard"
            id="org.muml.psm.allocation.algorithm.ui.wizard.AllocationWizard"
            name="Allocation Planning Wizard">
      </wizard>
   </extension>
   <extension
         point="org.muml.psm.allocation.algorithm.ui.oclContextSelectionProvider">
      <oclContextSelectionProvider
            class="org.muml.psm.allocation.algorithm.ui.wizard.MUMLOCLContextSelectionProvider">
      </oclContextSelectionProvider>
   </extension>

</plugin>
