<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.muml.psm.allocation.algorithm.ui.wizardPageProvider" name="Allocation Wizard Page Provider" schema="schema/org.muml.psm.allocation.algorithm.ui.wizardPageProvider.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardHandler"
            id="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardCommand"
            name="Plan System Allocation">
      </command>
      <command
            categoryId="org.muml"
            defaultHandler="org.muml.psm.allocation.algorithm.ui.GenericCreateASLFileHandler"
            id="org.muml.psm.allocation.algorithm.ui.CreateASLFileCommand"
            name="Create Allocation Constraint and Optimization Specification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.muml.psm.allocation.algorithm.ui.OpenAllocationWizardCommand"
               label="Compute Allocation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.muml.psm.allocation.algorithm.ui.CreateASLFileCommand"
               label="Create ASL Specification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.muml.psm.allocation.algorithm.ui.wizard.AllocationComputationWizard"
            id="org.muml.psm.allocation.algorithm.ui.wizard.AllocationComputationWizard"
            name="Allocation Planning Wizard">
      </wizard>
   </extension>
</plugin>
