<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      
      <package class="org.muml.ape.PropertiesPackage" genModel="model/ape.genmodel" uri="http://de.uni_paderborn.fujaba.properties/0.4.0"/>
   </extension>
   
   

</plugin>
