<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.part.StructuredcomponentDiagramEditorID"
         name="%editorName"
         icon="icons/StructuredComponentDiagram.gif"
         extensions="structuredcomponent_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.part.StructuredcomponentDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.part.StructuredcomponentMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.part.StructuredcomponentDiagramActionBarContributor">
      </editor>
   </extension>
   

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
  	  <wizard
  	       category="de.uni_paderborn.fujaba/de.uni_paderborn.fujaba.diagrams"
  	       icon="icons/StructuredComponentDiagram.gif"
  	       class="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.part.CustomStructuredcomponentDiagramCreationWizard"
  	       id="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.part.CustomStructuredcomponentDiagramCreationWizard"
  	       name="Structured Component Diagram">
  	     
  	  	 <description>Creates a new Structured Component Diagram.</description>
      </wizard>
   </extension>
   
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.providers.CustomStructuredcomponentEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
    
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/umlrt/model/component">
      
        <adviceBinding  id="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.ComponentPartAdvice"
		  typeId="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.ComponentPart_3002"
		  class="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.edit.helpers.ComponentPartEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>

      </metamodel>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <binding context="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.ComponentPart_3002"/>
         <advice ref="de.uni_paderborn.fujaba.umlrt.structuredcomponenteditor.diagram.custom.ComponentPartAdvice"/>
      </binding>
   </extension>

</plugin>
