<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated coordination -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="coordination.presentation.CoordinationModelWizardID"
            name="%_UI_CoordinationModelWizard_label"
            class="coordination.presentation.CoordinationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CoordinationModelFile.gif">
         <description>%_UI_CoordinationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated coordination -->
      <editor
            id="coordination.presentation.CoordinationEditorID"
            name="%_UI_CoordinationEditor_label"
            icon="icons/full/obj16/CoordinationModelFile.gif"
            extensions="coordination"
            class="coordination.presentation.CoordinationEditor"
            contributorClass="coordination.presentation.CoordinationActionBarContributor">
      </editor>
   </extension>

</plugin>
