<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="componentstorydiagram_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="componentstorydiagram_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

	
	
	
	
	
	<extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ComponentStoryDiagramFile.gif"
         extensions="componentstorydiagram_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramActionBarContributor">
      </editor>
   	</extension>
   	<extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   	</extension>

   	<extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ComponentStoryDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramCreationWizard"
  	     id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   	</extension>
	
	
	
	
	<extension point="org.eclipse.ui.menus">
	   <?gmfgen generated="true"?>   
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
	      <command
	            commandId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.createDiagram"
	            icon="icons/obj16/ComponentStoryDiagramFile.gif"
	            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.createDiagram"
	            label="Create Component Story Diagram"
	            style="push">
	            	<visibleWhen checkEnabled="false">
						<reference definitionId="de.uni_paderborn.fujaba.expression.fujabafile"></reference>
          			</visibleWhen>
	      </command>
	   </menuContribution>
	</extension>

	
	<extension point="org.eclipse.ui.commands">
		<?gmfgen generated="true"?>
		<command
			categoryId="de.uni_paderborn.fujaba"
			description="Initialize realtimestatechart_diagram"
			defaultHandler="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramInitDiagramFileAction"
			id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.createDiagram"
			name="%initDiagramActionLabel">
		</command>
	</extension>

	
	<extension
         point="de.uni_paderborn.fujaba.modelinstance.modelelementcategory">
      <?gmfgen generated="true"?>  
      <category
            key="org.storydriven.storydiagrams.activities.category"
            name="activities">
         
         <child
               class="ComponentStoryRule"
               packageNsUri="http://www.fujaba.de/muml/componentstorydiagram/0.4.0">
         </child>
         
      </category>
   </extension>

	
	<extension
         point="de.uni_paderborn.fujaba.modelinstance.ui.diagraminformation">
      <?gmfgen generated="true"?>
      <editor
            preferencesHint="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram"
            editorId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID"
            editorName="Component Story Editor"
            fileExtension="componentstorydiagram_diagram"
            modelElementCategoryKey="org.storydriven.storydiagrams.activities.category"
            modelId="Component Story">
         <diagramElement
               packageNsURI="http://www.fujaba.de/muml/componentstorydiagram/0.4.0"
               className="ComponentStoryRule">
         </diagramElement>
         
         <topLevelNode
               domainElement="Activity"
               semanticHint="2003">
         </topLevelNode>
         
      </editor>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="Component StoryPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="Component StoryPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="Component StoryRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            name="%prefpage.de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            category="de.uni_paderborn.fujaba.preferences"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.appearance"
            name="%prefpage.de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.appearance"
            category="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.connections"
            name="%prefpage.de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.connections"
            category="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.printing"
            name="%prefpage.de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.printing"
            category="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.rulersAndGrid"
            name="%prefpage.de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.rulersAndGrid"
            category="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.general"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   
   
   

   

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Component Story"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2003,3001,3011,3012,3014,3016,3017,3018,3019,3020,3007,3008,3010,3021,3022,3023,3024"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4004,4005,4006"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Component Story"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2003,3001,3011,3012,3014,3016,3017,3018,3019,3020,3007,3008,3010,3021,3022,3023,3024"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4004,4005,4006"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5011,5001,5019,5020,5017,5018,5021,5022,5056,5062,5023,5024,5057,5025,5026,5058,5027,5028,5059,5010,5041,5052,5053,5054,5055"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7005,7006,7007,7008,7009,7012,7013"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentStoryRuleEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentStoryRuleEditPart" id="ComponentStoryRule_1000"/>
         <context elements="ComponentStoryRule_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfActivityEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ActivityEditPart" id="Activity_2003"/>
         <context elements="Activity_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentStoryNodeEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentStoryNodeEditPart" id="ComponentStoryNode_3001"/>
         <context elements="ComponentStoryNode_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentStoryPatternEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentStoryPatternEditPart" id="ComponentStoryPattern_3011"/>
         <context elements="ComponentStoryPattern_3011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentVariableEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentVariableEditPart" id="ComponentVariable_3012"/>
         <context elements="ComponentVariable_3012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfPartVariableEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.PartVariableEditPart" id="ComponentPartVariable_3014"/>
         <context elements="ComponentPartVariable_3014"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfMultiPortVariableEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.MultiPortVariableEditPart" id="MultiPortVariable_3016"/>
         <context elements="MultiPortVariable_3016"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfSinglePortVariableEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.SinglePortVariableEditPart" id="SinglePortVariable_3017"/>
         <context elements="SinglePortVariable_3017"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfSinglePortVariable2EditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.SinglePortVariable2EditPart" id="SinglePortVariable_3018"/>
         <context elements="SinglePortVariable_3018"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfMultiPortVariable2EditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.MultiPortVariable2EditPart" id="MultiPortVariable_3019"/>
         <context elements="MultiPortVariable_3019"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfSinglePortVariable3EditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.SinglePortVariable3EditPart" id="SinglePortVariable_3020"/>
         <context elements="SinglePortVariable_3020"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfInitialNodeEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.InitialNodeEditPart" id="InitialNode_3007"/>
         <context elements="InitialNode_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfJunctionNodeEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.JunctionNodeEditPart" id="JunctionNode_3008"/>
         <context elements="JunctionNode_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfActivityFinalNodeEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ActivityFinalNodeEditPart" id="ActivityFinalNode_3010"/>
         <context elements="ActivityFinalNode_3010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfControllerExchangeNodeEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ControllerExchangeNodeEditPart" id="ControllerExchangeNode_3021"/>
         <context elements="ControllerExchangeNode_3021"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentStoryPattern2EditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentStoryPattern2EditPart" id="ComponentStoryPattern_3022"/>
         <context elements="ComponentStoryPattern_3022"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfComponentVariable2EditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentVariable2EditPart" id="ComponentVariable_3023"/>
         <context elements="ComponentVariable_3023"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.assistants.ComponentStoryDiagramModelingAssistantProviderOfFadingComponentPartVariableEditPart">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.FadingComponentPartVariableEditPart" id="FadingComponentPartVariable_3024"/>
         <context elements="FadingComponentPartVariable_3024"/>
      </modelingAssistantProvider>
      
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryRule_1000"
               name="%metatype.name.ComponentStoryRule_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentStoryRule"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ComponentStoryRuleEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.Activity_2003"
               name="%metatype.name.Activity_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Activity"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ActivityEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryNode_3001"
               name="%metatype.name.ComponentStoryNode_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentStoryNode"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ComponentStoryNodeEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryPattern_3011"
               name="%metatype.name.ComponentStoryPattern_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentStoryPattern"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ComponentStoryPatternEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentVariable_3012"
               name="%metatype.name.ComponentVariable_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ComponentVariableEditHelper">
            <param name="semanticHint" value="3012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentPartVariable_3014"
               name="%metatype.name.ComponentPartVariable_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ComponentPartVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.PartVariableEditHelper">
            <param name="semanticHint" value="3014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortVariable_3016"
               name="%metatype.name.MultiPortVariable_3016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MultiPortVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.MultiPortVariableEditHelper">
            <param name="semanticHint" value="3016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3017"
               name="%metatype.name.SinglePortVariable_3017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SinglePortVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.SinglePortVariableEditHelper">
            <param name="semanticHint" value="3017"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3018"
               name="%metatype.name.SinglePortVariable_3018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3017"/>
            <param name="semanticHint" value="3018"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortVariable_3019"
               name="%metatype.name.MultiPortVariable_3019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortVariable_3016"/>
            <param name="semanticHint" value="3019"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3020"
               name="%metatype.name.SinglePortVariable_3020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3017"/>
            <param name="semanticHint" value="3020"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.InitialNode_3007"
               name="%metatype.name.InitialNode_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InitialNode"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.InitialNodeEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.JunctionNode_3008"
               name="%metatype.name.JunctionNode_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="JunctionNode"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.JunctionNodeEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ActivityFinalNode_3010"
               name="%metatype.name.ActivityFinalNode_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivityFinalNode"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ActivityFinalNodeEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorydiagram/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ControllerExchangeNode_3021"
               name="%metatype.name.ControllerExchangeNode_3021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ControllerExchangeNode"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ControllerExchangeNodeEditHelper">
            <param name="semanticHint" value="3021"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryPattern_3022"
               name="%metatype.name.ComponentStoryPattern_3022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryPattern_3011"/>
            <param name="semanticHint" value="3022"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <specializationType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentVariable_3023"
               name="%metatype.name.ComponentVariable_3023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentVariable_3012"/>
            <param name="semanticHint" value="3023"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.FadingComponentPartVariable_3024"
               name="%metatype.name.FadingComponentPartVariable_3024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FadingComponentPartVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.FadingComponentPartVariableEditHelper">
            <param name="semanticHint" value="3024"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.storydriven.org/storydiagrams/activities/0.2.1">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ActivityEdge_4001"
               name="%metatype.name.ActivityEdge_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActivityEdge"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.ActivityEdgeEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.AssemblyVariable_4004"
               name="%metatype.name.AssemblyVariable_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssemblyVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.AssemblyVariableEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.DelegationVariable_4005"
               name="%metatype.name.DelegationVariable_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DelegationVariable"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.DelegationVariableEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.fujaba.de/muml/componentstorypattern/0.4.0">
         <metamodelType
               id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortOrderConstraint_4006"
               name="%metatype.name.MultiPortOrderConstraint_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MultiPortOrderConstraint"
               edithelper="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.helpers.MultiPortOrderConstraintEditHelper">
            <param name="semanticHint" value="4006"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryRule_1000"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.Activity_2003"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryNode_3001"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryPattern_3011"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentVariable_3012"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentPartVariable_3014"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortVariable_3016"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3017"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3018"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortVariable_3019"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.SinglePortVariable_3020"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.InitialNode_3007"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.JunctionNode_3008"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ActivityFinalNode_3010"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ControllerExchangeNode_3021"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentStoryPattern_3022"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ComponentVariable_3023"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.FadingComponentPartVariable_3024"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ActivityEdge_4001"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.AssemblyVariable_4004"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.DelegationVariable_4005"/>
         <elementType ref="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.MultiPortOrderConstraint_4006"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   
	   
      
	      <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramUpdateCommand"
         description="%update.diagram.description"
         id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.updateDiagram"
         contextId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.edit.parts.ComponentStoryRuleEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.ComponentStoryDiagramDiagramEditorID"
         defaultHandler="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>
<extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramMarkerNavigationProvider">
         <MarkerType name="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

<extension id="diagnostic" name="Component Story Diagram Editor problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension><extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.providers.ComponentStoryDiagramValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>
<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram"
            labelProvider="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.sheet.ComponentStoryDiagramSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
                       category="extra"
             id="property.tab.domain"
             label="%tab.domain"/>
          <propertyTab
                       category="domain"
             id="property.tab.general"
             label="%tab.general"/>
          <propertyTab
          			 category="domain"
             afterTab="property.tab.general"
             id="property.tab.documentation"
             label="%tab.documentation"/>
      </propertyTabs>
   </extension>

<extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="de.uni_paderborn.fujaba.muml.componentstorydiagram.diagram.sheet.ComponentStoryDiagramPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
         <propertySection
            id="property.section.general" 
            tab="property.tab.general"
            filter="org.storydriven.core.properties.tabs.GeneralTabElementFilter"
            class="de.uni_paderborn.fujaba.properties.runtime.sections.ObjectPropertySection">
         </propertySection>
         <propertySection
            id="property.section.documentation" 
            tab="property.tab.documentation"
            filter="org.storydriven.core.properties.tabs.DocumentationTabElementFilter"
            class="de.uni_paderborn.fujaba.properties.runtime.sections.ObjectPropertySection">
         </propertySection>
      </propertySections>
   </extension>





   <!-- optionally, specify keybindings -->
</plugin>
