<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.uni_paderborn.fujaba.export"
            class="org.muml.psm.transformation.ui.CodegenWizard"
            id="de.uni_paderborn.fujaba.muml.psm.codegen.transformation.ui.CodeGenWizard"
            name="Create Code-Generation Model">
      </wizard>
   </extension>
</plugin>
