<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="">
          <propertyTab
             category="domain"
             id="org.muml.allocation.algorithm.ilp.opt4j.config"
             label="Opt4j Configuration"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="">
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.psm.allocation.algorithm.ilp.opt4j.config.properties.tabs.Org_muml_allocation_algorithm_ilp_opt4j_configTabElementFilter"
            id="org.muml.allocation.algorithm.ilp.opt4j.config"
            tab="org.muml.allocation.algorithm.ilp.opt4j.config">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="org.muml.ape.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="org.muml.psm.allocation.algorithm.ilp.opt4j.config.properties.config.editor.Opt4jConfigurationEditor$Factory"
             type="http://www.muml.org/psm/allocation/algorithm/ilp/opt4j/config/1.0.0#Opt4jConfiguration">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="org.muml.ape.runtime.metamodelContributor">
    <metamodel
          contributor="org.muml.psm.allocation.algorithm.ilp.opt4j.config.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="org.muml.ape.runtime.creationConstraintContributor">
    <constraint
          contributor="org.muml.psm.allocation.algorithm.ilp.opt4j.config.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
