<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.muml.simulink.adapter.m2t.ui.ExportWizard"
            id="org.muml.simulink.adapter.m2t.wizard"
            name="Simulink Model Export Wizard">
         <selection
               class="org.eclipse.core.resources.IResource"
               name="*.xmi">
         </selection>
         <selection
               class="org.eclipse.core.resources.IResource"
               name="*.model">
         </selection>
      </wizard>
   </extension>

</plugin>
