<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<!--
<copyright>
	Copyright 2013 by storydriven.org and others. All rights reserved. This
	program and its materials are made available under the terms of the Eclipse
	Public License v1.0 which is referenced inside the distribution.

	Contributors:
		Development Team <sdm-commons-dev@googlegroups.com> - Initial code

</copyright>
-->
<plugin>
	<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
		<factory
			uri="http://www.muml.org/core/1.0.0"
			class="org.muml.core.provider.CoreItemProviderAdapterFactory"
			supportedTypes=
				"org.eclipse.emf.edit.provider.IEditingDomainItemProvider
				 org.eclipse.emf.edit.provider.IStructuredItemContentProvider
				 org.eclipse.emf.edit.provider.ITreeItemContentProvider
				 org.eclipse.emf.edit.provider.IItemLabelProvider
				 org.eclipse.emf.edit.provider.IItemPropertySource"/>
		<factory
			uri="http://www.muml.org/core/expressions/1.0.0"
			class="org.muml.core.expressions.provider.ExpressionsItemProviderAdapterFactory"
			supportedTypes=
				"org.eclipse.emf.edit.provider.IEditingDomainItemProvider
				 org.eclipse.emf.edit.provider.IStructuredItemContentProvider
				 org.eclipse.emf.edit.provider.ITreeItemContentProvider
				 org.eclipse.emf.edit.provider.IItemLabelProvider
				 org.eclipse.emf.edit.provider.IItemPropertySource"/>
  <factory
        class="org.muml.core.expressions.common.provider.CommonExpressionsItemProviderAdapterFactory"
        uri="http://www.muml.org/core/expressions/common/1.0.0"
			supportedTypes=
				"org.eclipse.emf.edit.provider.IEditingDomainItemProvider
				 org.eclipse.emf.edit.provider.IStructuredItemContentProvider
				 org.eclipse.emf.edit.provider.ITreeItemContentProvider
				 org.eclipse.emf.edit.provider.IItemLabelProvider
				 org.eclipse.emf.edit.provider.IItemPropertySource"/>
	</extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated core.uml -->
      <factory
            uri="http://www.muml.org/core/expressions/1.0.0"
            class="org.muml.core.expressions.provider.ExpressionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated core.uml -->
      <factory
            uri="http://www.muml.org/core/expressions/common/1.0.0"
            class="org.muml.core.expressions.common.provider.CommonExpressionsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
</plugin>
