<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.muml.common.properties">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="property.tab.constraint"
             label="Constraint"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertySection
            class="de.uni_paderborn.fujaba.properties.runtime.sections.ObjectPropertySection"
            filter="de.uni_paderborn.fujaba.muml.componentstorydiagram.properties.tabs.ConstraintTabElementFilter"
            id="property.tab.constraint"
            tab="property.tab.constraint">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="de.uni_paderborn.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorydiagram.properties.componentstorydiagram.editor.ComponentStoryRuleEditor$Factory"
             type="de.uni_paderborn.fujaba.muml.componentstorydiagram.ComponentStoryRule">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorydiagram.properties.componentstorydiagram.editor.ComponentStoryNodeEditor$Factory"
             type="de.uni_paderborn.fujaba.muml.componentstorydiagram.ComponentStoryNode">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorydiagram.properties.componentstorydiagram.editor.ControllerExchangeNodeEditor$Factory"
             type="de.uni_paderborn.fujaba.muml.componentstorydiagram.ControllerExchangeNode">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorydiagram.properties.componentstorydiagram.editor.SendReconfigurationMessageExpressionEditor$Factory"
             type="de.uni_paderborn.fujaba.muml.componentstorydiagram.SendReconfigurationMessageExpression">
       </propertyEditor>
    
    </propertyEditors>
 </extension>

</plugin>
