<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customItemProviderAdapterFactories" name="Custom ItemProviderAdapterFactories" schema="schema/customItemProviderAdapterFactories.exsd"/>
   <extension-point id="elementInitializer" name="Element Initializer" schema="schema/elementInitializer.exsd"/>

</plugin>
