<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hardware -->
      <package
            uri="http://www.fujaba.de/muml/hardware/hwplatform/1.0/"
            class="de.uni_paderborn.fujaba.muml.hardware.hwplatform.HwplatformPackage"
            genModel="model/hardware.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.fujaba.de/muml/hardware/hwvaluetype/1.0/"
            class="de.uni_paderborn.fujaba.muml.hardware.hwvaluetype.HwvaluetypePackage"
            genModel="model/hardware.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hardware -->
      <package
            uri="http://www.fujaba.de/muml/hardware/hwplatforminstance/1.0/"
            class="de.uni_paderborn.fujaba.muml.hardware.hwplatforminstance.HwplatforminstancePackage"
            genModel="model/hardware.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hardware -->
      <package
            uri="http://www.fujaba.de/muml/hardware/hwresource/1.0/"
            class="de.uni_paderborn.fujaba.muml.hardware.hwresource.HwresourcePackage"
            genModel="model/hardware.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hardware -->
      <package
            uri="http://www.fujaba.de/muml/hardware/hwresourceinstance/1.0/"
            class="de.uni_paderborn.fujaba.muml.hardware.hwresourceinstance.HwresourceinstancePackage"
            genModel="model/hardware.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.uni_paderborn.fujaba.muml.hardware.HardwarePackage"
            genModel="model/hardware.genmodel"
            uri="http://www.fujaba.de/muml/hardware/1.0/">
      </package>
   </extension>

</plugin>
