<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated muml_container -->
      <package
            uri="http://www.muml.org/psm/muml_container/0.5.0"
            class="org.muml.psm.muml_container.Muml_containerPackage"
            genModel="model/muml_container.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated muml_container -->
      <parser
            type="muml_container"
            class="org.muml.psm.muml_container.util.Muml_containerResourceFactoryImpl"/>
   </extension>
</plugin>
