<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConvoyCoordinationStructTypes -->
      <package class="de.uni_paderborn.fujaba.muml.example.railcab.profiles.ProfilesPackage" genModel="model/ConvoyCoordinationStructTypes.genmodel" uri="http://www.fujaba.de/muml/examples/profiles/0.3.2"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <?emfgen generated="true"?>
      <!-- @generated ConvoyCoordinationStructTypes -->
      <package class="de.uni_paderborn.fujaba.muml.example.railcab.profiles.ProfilesPackage" genModel="model/ConvoyCoordinationStructTypes.genmodel" uri="http://www.fujaba.de/muml/examples/profiles/0.3.2"/>
   </extension>

</plugin>
