<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="Opt4JBlackboxUnit"
            namespace="org.muml.psm.allocation.algorithm.ilp.opt4j">
         <library
               class="org.muml.psm.allocation.algorithm.ilp.opt4j.Opt4J"
               name="Opt4JBlackbox">
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/ilp/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/algorithm/ilp/opt4j/config/1.0.0">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.muml.psm.allocation.algorithm.strategy">
      <strategy
            class="org.muml.psm.allocation.algorithm.ilp.opt4j.Opt4JAllocationComputationStrategy"
            description="Opt4J-based allocation computation strategy (using opt4j)"
            name="Opt4J Allocation Computation Strategy">
      </strategy>
   </extension>

</plugin>
