<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
	      <command
	            commandId="de.uni_paderborn.fujaba.muml.common.commands.OpenTypeDialogCommand"
	            icon="icons/TypeDialog.gif"
	            id="de.uni_paderborn.fujaba.muml.common.commands.OpenTypeDialogCommand"
	            label="Open Type Dialog"
	            style="push">
	            	<visibleWhen checkEnabled="true">
          			</visibleWhen>
	      </command>
	   </menuContribution>
	</extension>
	
	<extension
        point="org.eclipse.ui.commands">
     <category
           id="de.uni_paderborn.fujaba"
           name="Fujaba">
     </category>
     <command
           categoryId="de.uni_paderborn.fujaba"
           defaultHandler="de.uni_paderborn.fujaba.muml.common.internal.ui.commands.OpenTypeDialogCommand"
           description="Open Type Dialog"
           id="de.uni_paderborn.fujaba.muml.common.commands.OpenTypeDialogCommand"
           name="Open Type Dialog">
     </command>
  </extension>

  <!-- make sure that the "types" modelelementcategory is accepted as valid -->
  <extension
          point="de.uni_paderborn.fujaba.modelinstance.modelelementcategory">
      <category
              key="de.uni_paderborn.fujaba.muml.types.category"
              name="types">
          <child
              class="DataType"
              packageNsUri="http://www.fujaba.de/muml/types/0.3.18">
          </child>
      </category>
  </extension>
   
  <extension
       point="de.uni_paderborn.fujaba.modelinstance.ui.modelinitializer">
      <initializer
          initializer="de.uni_paderborn.fujaba.muml.common.modelinitializer.TypeCategoryInitializer">
      </initializer>
  </extension>
 
  <extension
       point="org.eclipse.ltk.core.refactoring.moveParticipants">
    <moveParticipant
          class="de.uni_paderborn.fujaba.muml.common.refactoring.DiagramMoveParticipant"
          id="de.uni_paderborn.fujaba.muml.common.refactoring.diagramMoveParticipant"
          name="Move MUML Diagran Files">
       <enablement>
          <adapt
                type="org.eclipse.core.resources.IResource">
             <or>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.atomiccomponent_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.componentinstanceconfiguration_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.deployment_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.pattern_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.messagetype_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.realtimestatechart_diagram">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.component_diagram">
                </test>
             </or>
          </adapt></enablement>
    </moveParticipant>
  </extension>
  
  
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <propertyContributor
            contributorId="de.uni_paderborn.fujaba.muml.common.properties"
            typeMapper="de.uni_paderborn.fujaba.muml.common.sheet.MumlTypeMapper"
            labelProvider="de.uni_paderborn.fujaba.muml.common.sheet.MumlSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="Appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="Rulers &amp; Grid"/>
         
          <!-- this was in the category extra, to put it to the bottom -->
          <propertyTab
             category="domain"
             id="property.tab.domain.advanced"
             label="Advanced"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.tab.domain.advanced" 
            tab="property.tab.domain.advanced"
            class="de.uni_paderborn.fujaba.muml.common.sheet.MumlPropertySection">
            <input type="org.eclipse.emf.ecore.EObject"/>
            <!--<input type="de.uni_paderborn.fujaba.muml.XXX.diagram.navigator.MumlAbstractNavigatorItem"/> -->
         </propertySection>
         
      </propertySections>
   </extension>
 
 
</plugin>
