<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <?emfgen generated="true"?>
      <package class="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.controlflow.ControlflowPackage" genModel="model/ComponentStoryDiagram.genmodel" uri="http://www.fujaba.de/muml/componentstorydiagram/controlflow/0.3.1"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <?emfgen generated="true"?>
      <package class="de.uni_paderborn.fujaba.muml.model.componentstorydiagram.componentstorypattern.ComponentstorypatternPackage" genModel="model/ComponentStoryDiagram.genmodel" uri="http://www.fujaba.de/muml/componentstorydiagram/componentstorypattern/0.3.3"/>
   </extension>

</plugin>
