<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="base"
             label="Base"/>
          
      </propertyTabs>

</extension>

 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
         <propertySection
            id="Cardinality.lowerBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.CardinalityLowerBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.Cardinality"/>
         </propertySection>
         <propertySection
            id="Cardinality.upperBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.CardinalityUpperBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.Cardinality"/>
         </propertySection>
         <propertySection
            id="TimeValue.value" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.TimeValueValueSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.TimeValue"/>
         </propertySection>
         <propertySection
            id="TimeValue.unit" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.TimeValueUnitSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.TimeValue"/>
         </propertySection>
         <propertySection
            id="NaturalNumber.value" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.NaturalNumberValueSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.NaturalNumber"/>
         </propertySection>
         <propertySection
            id="NaturalNumber.infinity" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.NaturalNumberInfinitySection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.NaturalNumber"/>
         </propertySection>
         <propertySection
            id="Range.lowerBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.RangeLowerBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.Range"/>
         </propertySection>
         <propertySection
            id="Range.upperBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.valuetype.section.RangeUpperBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.valuetype.Range"/>
         </propertySection>
         <propertySection
            id="Deployment.communicationLinks" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.DeploymentCommunicationLinksSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.Deployment"/>
         </propertySection>
         <propertySection
            id="Deployment.hardwareNodes" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.DeploymentHardwareNodesSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.Deployment"/>
         </propertySection>
         <propertySection
            id="Deployment.qualityOfLinkServices" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.DeploymentQualityOfLinkServicesSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.Deployment"/>
         </propertySection>
         <propertySection
            id="HardwareNode.hardwarePorts" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.HardwareNodeHardwarePortsSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.HardwareNode"/>
         </propertySection>
         <propertySection
            id="HardwareNode.deployedInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.HardwareNodeDeployedInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.HardwareNode"/>
         </propertySection>
         <propertySection
            id="HardwareNode.hardwareNodeKind" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.HardwareNodeHardwareNodeKindSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.HardwareNode"/>
         </propertySection>
         <propertySection
            id="HardwarePort.deployedPortInstance" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.HardwarePortDeployedPortInstanceSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.HardwarePort"/>
         </propertySection>
         <propertySection
            id="HardwarePort.kind" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.HardwarePortKindSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.HardwarePort"/>
         </propertySection>
         <propertySection
            id="CommunicationLink.deployedAssemblyInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.CommunicationLinkDeployedAssemblyInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.CommunicationLink"/>
         </propertySection>
         <propertySection
            id="LinkQualityOfService.packetDelayVariation" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.LinkQualityOfServicePacketDelayVariationSection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.LinkQualityOfService"/>
         </propertySection>
         <propertySection
            id="LinkQualityOfService.latency" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.deployment.section.LinkQualityOfServiceLatencySection">
            <input type="de.uni_paderborn.fujaba.muml.deployment.LinkQualityOfService"/>
         </propertySection>
         <propertySection
            id="Constraint.correctness" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.constraint.section.ConstraintCorrectnessSection">
            <input type="de.uni_paderborn.fujaba.muml.constraint.Constraint"/>
         </propertySection>
         <propertySection
            id="Constraint.background" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.constraint.section.ConstraintBackgroundSection">
            <input type="de.uni_paderborn.fujaba.muml.constraint.Constraint"/>
         </propertySection>
         <propertySection
            id="TextualConstraint.textualExpression" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.constraint.section.TextualConstraintTextualExpressionSection">
            <input type="de.uni_paderborn.fujaba.muml.constraint.TextualConstraint"/>
         </propertySection>
         <propertySection
            id="ConstrainableElement.constraint" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.constraint.section.ConstrainableElementConstraintSection">
            <input type="de.uni_paderborn.fujaba.muml.constraint.ConstrainableElement"/>
         </propertySection>
         <propertySection
            id="MessageType.parameters" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.msgtype.section.MessageTypeParametersSection">
            <input type="de.uni_paderborn.fujaba.muml.msgtype.MessageType"/>
         </propertySection>
         <propertySection
            id="MessageTypeRepository.messageTypes" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.msgtype.section.MessageTypeRepositoryMessageTypesSection">
            <input type="de.uni_paderborn.fujaba.muml.msgtype.MessageTypeRepository"/>
         </propertySection>
         <propertySection
            id="RoleConnector.connectorQualityOfServiceAssumptions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.RoleConnectorConnectorQualityOfServiceAssumptionsSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.RoleConnector"/>
         </propertySection>
         <propertySection
            id="CoordinationProtocol.roles" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.CoordinationProtocolRolesSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.CoordinationProtocol"/>
         </propertySection>
         <propertySection
            id="CoordinationProtocol.roleConnector" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.CoordinationProtocolRoleConnectorSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.CoordinationProtocol"/>
         </propertySection>
         <propertySection
            id="Role.port" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.RolePortSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.Role"/>
         </propertySection>
         <propertySection
            id="Role.receiverMessageBuffer" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.RoleReceiverMessageBufferSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.Role"/>
         </propertySection>
         <propertySection
            id="MessageBuffer.bufferSize" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.MessageBufferBufferSizeSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.MessageBuffer"/>
         </propertySection>
         <propertySection
            id="MessageBuffer.messageType" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.MessageBufferMessageTypeSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.MessageBuffer"/>
         </propertySection>
         <propertySection
            id="ConnectorQualityOfServiceAssumptions.minMessageDelay" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.ConnectorQualityOfServiceAssumptionsMinMessageDelaySection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.ConnectorQualityOfServiceAssumptions"/>
         </propertySection>
         <propertySection
            id="ConnectorQualityOfServiceAssumptions.maxMessageDelay" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.ConnectorQualityOfServiceAssumptionsMaxMessageDelaySection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.ConnectorQualityOfServiceAssumptions"/>
         </propertySection>
         <propertySection
            id="ConnectorQualityOfServiceAssumptions.messageLossPossible" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.protocol.section.ConnectorQualityOfServiceAssumptionsMessageLossPossibleSection">
            <input type="de.uni_paderborn.fujaba.muml.protocol.ConnectorQualityOfServiceAssumptions"/>
         </propertySection>
         <propertySection
            id="Component.ports" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.ComponentPortsSection">
            <input type="de.uni_paderborn.fujaba.muml.component.Component"/>
         </propertySection>
         <propertySection
            id="Component.componentType" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.ComponentComponentTypeSection">
            <input type="de.uni_paderborn.fujaba.muml.component.Component"/>
         </propertySection>
         <propertySection
            id="ComponentPart.cardinality" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.ComponentPartCardinalitySection">
            <input type="de.uni_paderborn.fujaba.muml.component.ComponentPart"/>
         </propertySection>
         <propertySection
            id="ComponentPart.portParts" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.ComponentPartPortPartsSection">
            <input type="de.uni_paderborn.fujaba.muml.component.ComponentPart"/>
         </propertySection>
         <propertySection
            id="HybridPort.samplingInterval" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.HybridPortSamplingIntervalSection">
            <input type="de.uni_paderborn.fujaba.muml.component.HybridPort"/>
         </propertySection>
         <propertySection
            id="StructuredComponent.embeddedComponentParts" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.StructuredComponentEmbeddedComponentPartsSection">
            <input type="de.uni_paderborn.fujaba.muml.component.StructuredComponent"/>
         </propertySection>
         <propertySection
            id="StructuredComponent.connectors" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.StructuredComponentConnectorsSection">
            <input type="de.uni_paderborn.fujaba.muml.component.StructuredComponent"/>
         </propertySection>
         <propertySection
            id="StructuredComponent.coordinationProtocolOccurences" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.StructuredComponentCoordinationProtocolOccurencesSection">
            <input type="de.uni_paderborn.fujaba.muml.component.StructuredComponent"/>
         </propertySection>
         <propertySection
            id="CoordinationProtocolOccurrence.portParts" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.CoordinationProtocolOccurrencePortPartsSection">
            <input type="de.uni_paderborn.fujaba.muml.component.CoordinationProtocolOccurrence"/>
         </propertySection>
         <propertySection
            id="DirectedTypedPort.kind" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.DirectedTypedPortKindSection">
            <input type="de.uni_paderborn.fujaba.muml.component.DirectedTypedPort"/>
         </propertySection>
         <propertySection
            id="DirectedTypedPort.optional" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.component.section.DirectedTypedPortOptionalSection">
            <input type="de.uni_paderborn.fujaba.muml.component.DirectedTypedPort"/>
         </propertySection>
         <propertySection
            id="Behavior.operations" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.BehaviorOperationsSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.Behavior"/>
         </propertySection>
         <propertySection
            id="Behavior.variables" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.BehaviorVariablesSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.Behavior"/>
         </propertySection>
         <propertySection
            id="Variable.initializeExpression" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.VariableInitializeExpressionSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.Variable"/>
         </propertySection>
         <propertySection
            id="Operation.implementations" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.OperationImplementationsSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.Operation"/>
         </propertySection>
         <propertySection
            id="Operation.parameters" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.OperationParametersSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.Operation"/>
         </propertySection>
         <propertySection
            id="ParameterBinding.value" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.behavior.section.ParameterBindingValueSection">
            <input type="de.uni_paderborn.fujaba.muml.behavior.ParameterBinding"/>
         </propertySection>
         <propertySection
            id="Deadline.upperBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.DeadlineUpperBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Deadline"/>
         </propertySection>
         <propertySection
            id="Deadline.lowerBound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.DeadlineLowerBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Deadline"/>
         </propertySection>
         <propertySection
            id="Region.embeddedStatechart" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.RegionEmbeddedStatechartSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Region"/>
         </propertySection>
         <propertySection
            id="State.embeddedRegions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateEmbeddedRegionsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.doEvent" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateDoEventSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.exitEvent" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateExitEventSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.entryEvent" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateEntryEventSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.invariants" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateInvariantsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.initial" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateInitialSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.final" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateFinalSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.urgent" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateUrgentSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.channels" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateChannelsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="State.connectionPoints" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.StateConnectionPointsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.State"/>
         </propertySection>
         <propertySection
            id="Vertex.outgoingTransitions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.VertexOutgoingTransitionsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Vertex"/>
         </propertySection>
         <propertySection
            id="Vertex.incomingTransitions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.VertexIncomingTransitionsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Vertex"/>
         </propertySection>
         <propertySection
            id="Vertex.allSuperVertices" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.VertexAllSuperVerticesSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Vertex"/>
         </propertySection>
         <propertySection
            id="Transition.synchronization" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionSynchronizationSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.clockResets" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionClockResetsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.clockConstraints" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionClockConstraintsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.absoluteDeadlines" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionAbsoluteDeadlinesSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.relativeDeadline" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionRelativeDeadlineSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.blockable" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionBlockableSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.guard" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionGuardSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.events" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionEventsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.action" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionActionSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="Transition.urgent" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.TransitionUrgentSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
         <propertySection
            id="ClockConstraint.bound" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.ClockConstraintBoundSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.ClockConstraint"/>
         </propertySection>
         <propertySection
            id="ClockConstraint.operator" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.ClockConstraintOperatorSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.ClockConstraint"/>
         </propertySection>
         <propertySection
            id="Action.expressions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.ActionExpressionsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Action"/>
         </propertySection>
         <propertySection
            id="AsynchronousMessageEvent.message" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.AsynchronousMessageEventMessageSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.AsynchronousMessageEvent"/>
         </propertySection>
         <propertySection
            id="DoEvent.action" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.DoEventActionSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.DoEvent"/>
         </propertySection>
         <propertySection
            id="DoEvent.periodLower" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.DoEventPeriodLowerSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.DoEvent"/>
         </propertySection>
         <propertySection
            id="DoEvent.periodUpper" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.DoEventPeriodUpperSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.DoEvent"/>
         </propertySection>
         <propertySection
            id="EntryOrExitEvent.clockResets" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.EntryOrExitEventClockResetsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.EntryOrExitEvent"/>
         </propertySection>
         <propertySection
            id="EntryOrExitEvent.action" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.EntryOrExitEventActionSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.EntryOrExitEvent"/>
         </propertySection>
         <propertySection
            id="Synchronization.kind" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.SynchronizationKindSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Synchronization"/>
         </propertySection>
         <propertySection
            id="Synchronization.selectorExpression" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.SynchronizationSelectorExpressionSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Synchronization"/>
         </propertySection>
         <propertySection
            id="PrioritizedElement.priority" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.PrioritizedElementPrioritySection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.PrioritizedElement"/>
         </propertySection>
         <propertySection
            id="RealtimeStatechart.transitions" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.RealtimeStatechartTransitionsSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.RealtimeStatechart"/>
         </propertySection>
         <propertySection
            id="RealtimeStatechart.states" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.RealtimeStatechartStatesSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.RealtimeStatechart"/>
         </propertySection>
         <propertySection
            id="RealtimeStatechart.clocks" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.RealtimeStatechartClocksSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.RealtimeStatechart"/>
         </propertySection>
         <propertySection
            id="RealtimeStatechart.history" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.RealtimeStatechartHistorySection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.RealtimeStatechart"/>
         </propertySection>
         <propertySection
            id="Event.kind" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.EventKindSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Event"/>
         </propertySection>
         <propertySection
            id="Message.parameterBinding" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.realtimestatechart.section.MessageParameterBindingSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Message"/>
         </propertySection>
         <propertySection
            id="ComponentInstance.portInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.instance.section.ComponentInstancePortInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.instance.ComponentInstance"/>
         </propertySection>
         <propertySection
            id="ComponentInstanceConfiguration.componentInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.instance.section.ComponentInstanceConfigurationComponentInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.instance.ComponentInstanceConfiguration"/>
         </propertySection>
         <propertySection
            id="ComponentInstanceConfiguration.portConnectorInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.instance.section.ComponentInstanceConfigurationPortConnectorInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.instance.ComponentInstanceConfiguration"/>
         </propertySection>
         <propertySection
            id="CoordinationProtocolInstance.portInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.instance.section.CoordinationProtocolInstancePortInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.instance.CoordinationProtocolInstance"/>
         </propertySection>
         <propertySection
            id="StructuredComponentInstance.embeddedCIC" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.instance.section.StructuredComponentInstanceEmbeddedCICSection">
            <input type="de.uni_paderborn.fujaba.muml.instance.StructuredComponentInstance"/>
         </propertySection>
         <propertySection
            id="ConnectorEndpoint.connectors" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.ConnectorEndpointConnectorsSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.ConnectorEndpoint"/>
         </propertySection>
         <propertySection
            id="Connector.connectorEndpoints" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.ConnectorConnectorEndpointsSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.Connector"/>
         </propertySection>
         <propertySection
            id="ConnectorEndpointInstance.connectorInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.ConnectorEndpointInstanceConnectorInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.ConnectorEndpointInstance"/>
         </propertySection>
         <propertySection
            id="ConnectorInstance.connectorEndpointInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.ConnectorInstanceConnectorEndpointInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.ConnectorInstance"/>
         </propertySection>
         <propertySection
            id="DiscreteInteractionEndpoint.senderMessageTypes" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.DiscreteInteractionEndpointSenderMessageTypesSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.DiscreteInteractionEndpoint"/>
         </propertySection>
         <propertySection
            id="DiscreteInteractionEndpoint.receiverMessageTypes" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.DiscreteInteractionEndpointReceiverMessageTypesSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.DiscreteInteractionEndpoint"/>
         </propertySection>
         <propertySection
            id="DiscreteInteractionEndpoint.cardinality" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.DiscreteInteractionEndpointCardinalitySection">
            <input type="de.uni_paderborn.fujaba.muml.connector.DiscreteInteractionEndpoint"/>
         </propertySection>
         <propertySection
            id="DiscreteMultiInteractionEndpointInstance.subInteractionEndpointInstances" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.connector.section.DiscreteMultiInteractionEndpointInstanceSubInteractionEndpointInstancesSection">
            <input type="de.uni_paderborn.fujaba.muml.connector.DiscreteMultiInteractionEndpointInstance"/>
         </propertySection>
         <propertySection
            id="ArrayDataType.cardinality" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.types.section.ArrayDataTypeCardinalitySection">
            <input type="de.uni_paderborn.fujaba.muml.types.ArrayDataType"/>
         </propertySection>
         <propertySection
            id="PrimitiveDataType.primitiveType" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.types.section.PrimitiveDataTypePrimitiveTypeSection">
            <input type="de.uni_paderborn.fujaba.muml.types.PrimitiveDataType"/>
         </propertySection>
         <propertySection
            id="RangedPrimitiveDataType.range" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.properties.types.section.RangedPrimitiveDataTypeRangeSection">
            <input type="de.uni_paderborn.fujaba.muml.types.RangedPrimitiveDataType"/>
         </propertySection>
         
      </propertySections>
         

 </extension>

</plugin>
