<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?propgen generated="true"?>
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="base"
             label="Base"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?propgen generated="true"?>
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             afterTab="base"
             id="documentation"
             label="Documentation"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?propgen generated="true"?>
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
        <propertySection
            id="CommentableElement.comment" 
            tab="documentation"
            class="de.uni_paderborn.fujaba.muml.realtimestatechart.section.CommentableElementCommentSection">
            <input type="org.storydriven.core.CommentableElement"/>
         </propertySection>
	  </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?propgen generated="true"?>
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
        <propertySection
            id="NamedElement.name" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.realtimestatechart.section.NamedElementNameSection">
            <input type="org.storydriven.core.NamedElement"/>
         </propertySection>
	  </propertySections>
   </extension>
   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?propgen generated="true"?>
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
        <propertySection
            id="Transition.relativeDeadline" 
            tab="base"
            class="de.uni_paderborn.fujaba.muml.realtimestatechart.section.TransitionRelativeDeadlineSection">
            <input type="de.uni_paderborn.fujaba.muml.realtimestatechart.Transition"/>
         </propertySection>
	  </propertySections>
   </extension>
</plugin>
