<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs2">
      <?propgen generated="true"?>
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="property.tab.domain.base"
             label="Base"/>
      </propertyTabs>
   </extension>

   <extension
         id="realtimestatechart2"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?propgen generated="true"?>
      <propertySections
            contributorId="de.uni_paderborn.fujaba.muml.common.properties">
         <propertySection
        	   id="CommentableElement.comment"
               class="de.uni_paderborn.fujaba.muml.realtimestatechart.section.CommentableElementCommentSection"
               tab="property.tab.domain.base">
         </propertySection>
      </propertySections>
   </extension>
   -->
   
   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="property.tab.domain.base"
             label="Base"/>
      </propertyTabs>
   </extension>
   
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
        <propertySection
            id="property.tab.domain.base" 
            tab="property.tab.domain.base"
            class="de.uni_paderborn.fujaba.muml.realtimestatechart.section.CommentableElementCommentSection">
            <input type="org.storydriven.core.CommentableElement"/>
         </propertySection>
	  </propertySections>
   </extension>
</plugin>
