<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0"
            class="de.fraunhofer.iem.m4a.IEC61131.IEC61131Package"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated IEC61131 -->
      <parser
            type="iec61131"
            class="de.fraunhofer.iem.m4a.IEC61131.util.IEC61131ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core"
            class="de.fraunhofer.iem.m4a.IEC61131.core.CorePackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated IEC61131 -->
      <parser
            type="core"
            class="de.fraunhofer.iem.m4a.IEC61131.core.util.CoreResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/types"
            class="de.fraunhofer.iem.m4a.IEC61131.core.types.TypesPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/literals"
            class="de.fraunhofer.iem.m4a.IEC61131.core.literals.LiteralsPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/variables"
            class="de.fraunhofer.iem.m4a.IEC61131.core.variables.VariablesPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/declarations"
            class="de.fraunhofer.iem.m4a.IEC61131.core.declarations.DeclarationsPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/pous"
            class="de.fraunhofer.iem.m4a.IEC61131.core.pous.PousPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/core/configurations"
            class="de.fraunhofer.iem.m4a.IEC61131.core.configurations.ConfigurationsPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iec61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/languages/st"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.st.StPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IEC61131 -->
      <package
            uri="http://iem.fraunhofer.de/m4a/iec61131/1.0/languages/il"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.il.IlPackage"
            genModel="model/IEC61131.genmodel"/>
   </extension>

</plugin>
