<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
   		<unit name="ImplicitCopyBlackbox" namespace="org.muml.implicitcopy.qvto._library">
    		<library name="ImplicitCopyBlackboxLib" class="org.muml.ImplicitCopy.qvto.library.ImplicitCopyBlackbox">
    			<metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
    		</library>
		</unit>
	</extension>
 <extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformationContainer">
    <sourceContainer
          path="transforms/">
    </sourceContainer>
 </extension>
 <extension
       point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
    <library
          file="transforms/org/muml/ImplicitCopy.qvto"
          id="org.muml.ImplicitCopy">
    </library>
 </extension>
</plugin>
