<extension point="org.eclipse.ui.newWizards" id="creation-wizard">
 <wizard
   category="de.uni_paderborn.fujaba/de.uni_paderborn.fujaba.diagrams"
   icon="icons/MyEditor.gif"
   class="myeditor.diagram.custom.part.MyEditorDiagramCreationWizard"
   id="myeditor.diagram.custom.part.MyEditorDiagramCreationWizard"
   name="MyEditor Diagram">
  <description>Creates a new MyEditor Diagram.</description>
 </wizard>
</extension>