<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>MUML Modelica Adapter</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.4.3">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn-serv.cs.upb.de/mechatronicuml/trunk/ModelicaAdapter</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>PlatformIndependentModeling</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H/15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf *buckminster* 
rm -rf org.story*
rm -rf de.uni_paderborn.fujaba.muml
rm -rf de.uni_paderborn.fujaba.modelinstance
rm -rf de.uni_paderborn.fujaba.muml.actionlanguage
find . -type f -name &quot;*.emtl&quot; -exec rm -f {} \;</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 4.3</installationName>
      <commands>import de.uni_paderborn.fujaba.muml.model.gen.modelica.feature/modelica.cquery
build</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>Eclipse Target Platform</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>MUMLCore</project>
      <filter>org.storydriven.core/</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.WorkspaceSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.31">
      <project>PlatformIndependentModeling</project>
      <filter>de.uni_paderborn.fujaba.muml/ , de.uni_paderborn.fujaba.modelinstance/ , de.uni_paderborn.fujaba.muml.actionlanguage/</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.WorkspaceSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>compile</targets>
      <antName>Ant 1.9.4</antName>
      <buildFile>./de.uni_paderborn.fujaba.modelica.m2t/buildstandalone_new_jenkins.xml</buildFile>
    </hudson.tasks.Ant>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 4.3</installationName>
      <commands>perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.muml.model.gen.modelica.feature#feature.exports
perform -D target.os=* -D target.ws=* -D target.arch=* de.uni_paderborn.fujaba.muml.model.gen.modelica.feature#site.p2</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
  </builders>
  <publishers>
    <hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher plugin="buckminster@1.1.1">
      <artifacts>buckminster.output/de.uni_paderborn.fujaba.muml.model.gen.modelica.feature_0.4.0-eclipse.feature/site.p2/</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <targetPlatformName>MUML-ModelicaAdapter</targetPlatformName>
    </hudson.plugins.buckminster.targetPlatform.TargetPlatformPublisher>
  </publishers>
  <buildWrappers/>
</project>