<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.muml.example"
            class="org.muml.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="org.muml.pim.coordinationpatternlibCreationWizard"
            name="Coordination Pattern Library"
            projectName="org.muml.example.coordinationpatternlib"
            projectPageDescription="Create project containing the Coordination Pattern Library"
            projectPageTitle="Coordination Pattern Library">
         <source bundle="org.muml.example.coordinationpatternlib" path="data" />
         <description>
            Create the Coordination Pattern Library
         </description>
      </wizard>
   </extension>
</plugin>
