<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/1.0.0"
            class="org.muml.psm.PsmPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/allocation/1.0.0"
            class="org.muml.psm.allocation.AllocationPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/properties/1.0.0"
            class="org.muml.psm.properties.PropertiesPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/realtimestatechart/1.0.0"
            class="org.muml.psm.psm_realtimestatechart.Psm_realtimestatechartPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/realtimestatechart/realtimestatechartparameter/1.0.0"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameter.RealtimestatechartparameterPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/realtimestatechart/realtimestatechartparameterbinding/1.0.0"
            class="org.muml.psm.psm_realtimestatechart.realtimestatechartparameterbinding.RealtimestatechartparameterbindingPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/instance/1.0.0"
            class="org.muml.psm.psm_instance.Psm_instancePackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/portapimapping/1.0.0"
            class="org.muml.psm.portapimapping.PortapimappingPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/apiexpressions/1.0.0"
            class="org.muml.psm.apiexpressions.ApiexpressionsPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated psm -->
      <package
            uri="http://www.muml.org/psm/codegen/1.0.0"
            class="org.muml.psm.codegen.CodegenPackage"
            genModel="model/psm.genmodel"/>
   </extension>

   <extension
         point="org.muml.core.modelelementcategory">
      <category
            key="org.muml.psm.allocation.category"
            name="allocation">
         <child
               class="SystemAllocation"
               packageNsUri="http://www.muml.org/psm/allocation/1.0.0">
         </child>
      </category>
   </extension>

</plugin>
