<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.ecore.presentation.ImprovedEcoreEditorID"
            name="APE Ecore Model Editor"
            icon="icons/full/obj16/EcoreModelFile.gif"
            class="org.eclipse.emf.ecore.presentation.APEEcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.ecore"/>
         <contentTypeBinding contentTypeId="org.eclipse.emf.emof"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.emf.ecore.presentation.ImprovedEcoreEditorID">
         <command
               commandId="org.eclipse.emf.ecore.editor.improved.command1"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecore.editor.improved.command1"
            name="name">
      </command>
   </extension>

</plugin>
