<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.muml.codegen.targetPlatformExtension" name="TargetPlatform" schema="schema/org.muml.codegen.targetPlatformExtension.exsd"/>
   <extension
         point="org.eclipse.ui.exportWizards">
         <wizard
            category="org.muml.core.export"
            class="org.muml.codegen.allocation.latex.ui.MUMLSystemAllocationLatexTableExportWizard"
            id="org.muml.codegen.allocation.latex.ui"
            name="System Allocation Table">
      </wizard>
   </extension>

</plugin>
