<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConvoyCoordinationStructTypes -->
      <package
            uri="http://www.fujaba.de/muml/examples/profiles/0.3.2"
            class="de.uni_paderborn.fujaba.muml.examples.convoyCoordinationProtocol.profiles.ProfilesPackage"
            genModel="model/ConvoyCoordinationStructTypes.genmodel"/>
   </extension>

</plugin>
