<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.muml.example"
            class="org.muml.core.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="org.muml.example.BrakeByWireCreationWizard"
            name="Brake By Wire Example"
            projectName="org.muml.example.brakebywire"
            projectPageDescription="Create project containing the Brake By Wire Example"
            projectPageTitle="Brake By Wire Example">
         <source bundle="org.muml.example.brakebywire" path="data" />
         <description>
            Create the Brake By Wire Example
         </description>
      </wizard>
   </extension>
</plugin>
