<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/de.uni_paderborn.fujaba.muml.example"
            class="de.uni_paderborn.fujaba.muml.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="de.uni_paderborn.fujaba.muml.example.ui.MessagesCreationWizard"
            name="Message Passing Example"
            projectName="de.uni_paderborn.fujaba.muml.example.mini.messages"
            projectPageDescription="Create project containing the Message Passing Example"
            projectPageTitle="Message Passing Example">
         <source bundle="de.uni_paderborn.fujaba.muml.example.mini.messages" path="data" />
         <description>
            Create the Message Passing Example
         </description>
      </wizard>
   </extension>
</plugin>
