<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.part.PatternDiagramEditorID"
         name="%editorName"
         icon="icons/PatternDiagram.gif"
         extensions="pattern_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.part.PatternDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.part.PatternMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.part.PatternDiagramActionBarContributor">
      </editor>
   </extension>
    
   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
  	  <wizard
  	     category="de.uni_paderborn.fujaba/de.uni_paderborn.fujaba.diagrams"
  	     icon="icons/PatternDiagram.gif"
  	     class="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.part.CustomPatternDiagramCreationWizard"
  	     id="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.part.CustomPatternDiagramCreationWizard"
  	     name="Pattern Diagram">
  	     
  	     
  	  	 <description>Creates a new Pattern diagram.</description>
      </wizard>
   </extension>
    
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/umlrt/model/pattern">
      
        <adviceBinding  id="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.RoleAdvice"
		  typeId="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.Role_2002"
		  class="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.edit.helpers.RoleEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>

      </metamodel>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <binding context="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.Role_2002"/>
         <advice ref="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.RoleAdvice"/>
      </binding>
   </extension>
   
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.providers.CustomPatternEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
   <extension
        id="propsections"
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram">
        <propertySection
              class="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.custom.sheet.CustomPatternPropertySection"
              id="property.section.domain"
              tab="property.tab.domain">
           <input
                 type="org.eclipse.gmf.runtime.notation.View">
           </input>
           <input
                 type="org.eclipse.gef.EditPart">
           </input>
           <input
                 type="de.uni_paderborn.fujaba.umlrt.patterneditor.diagram.navigator.PatternAbstractNavigatorItem">
           </input>
        </propertySection>
     </propertySections>
  </extension>
</plugin>
