<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="component.design.Activator"
               id="component.design"
	       name="component">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="component.design.providers.MyEditPolicyProvider">
        <Priority
              name="Lowest">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
     <editpartProvider
           class="component.design.providers.MyEditPartProvider">
        <Priority
              name="Lowest">
        </Priority>
     </editpartProvider>
  </extension>
</plugin>
