<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!--Set a providers for the parserfactory and for the editpartfactory in order to induce your own editparts/parsers. The priority needs to be hicher than "Lowest" -->
   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <ParserProvider class="de.uni_paderborn.fujaba.muml.pattern.diagram.custom.providers.CustomMumlParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>  

   <!-- optionally, specify keybindings -->
   
   <!-- Define the export wizards for pattern to protocol transformation and vice versa -->
   
     <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="de.uni_paderborn.fujaba.export"
            class="de.uni_paderborn.fujaba.muml.pattern.diagram.custom.export.wizard.PatternToProtocolExportWizard"
            id="de.uni_paderborn.fujaba.muml.pattern.diagram.custom.ExportWizardPatternToProtocol"
            name="Pattern To Protocol Transformation Wizard">
      </wizard>
      <wizard
            category="de.uni_paderborn.fujaba.export"
            class="de.uni_paderborn.fujaba.muml.pattern.diagram.custom.export.wizard.ProtocolToPatternExportWizard"
            id="de.uni_paderborn.fujaba.muml.pattern.diagram.custom.ExportWizardProtocolToPattern"
            name="Protocol To Pattern Transformation Wizard">
      </wizard>
   </extension>
   
   
   
   
   
   <!-- prevent deleting inner coordination pattern -->
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <binding context="de.uni_paderborn.fujaba.muml.pattern.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.pattern.diagram.CoordinationPattern_3003"/>
         <advice ref="de.uni_paderborn.fujaba.muml.pattern.diagram.Pattern2Advice"/>
      </binding>
   </extension>
       
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http://www.fujaba.de/muml/pattern/0.4.0">
        <adviceBinding  id="de.uni_paderborn.fujaba.muml.pattern.diagram.Pattern2Advice"
		  typeId="de.uni_paderborn.fujaba.muml.pattern.diagram.CoordinationPattern_3003"
		  class="de.uni_paderborn.fujaba.muml.coordinationspecification.common.edit.helpers.PreventDeleteEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>
      </metamodel>
   </extension>
   
     
</plugin>
