<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComponentStoryPattern -->
      <package
            uri="http://www.muml.org/reconfiguration/componentstorypattern/1.0.0"
            class="org.muml.reconfiguration.componentstorypattern.ComponentstorypatternPackage"
            genModel="model/ComponentStoryPattern.genmodel"/>
   </extension>
   <extension
         point="org.muml.emm.migrator">
      <Migrator
            file="model/ComponentStoryPattern.migrator">
      </Migrator>
   </extension>

</plugin>
