<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.fujaba.de/muml/componentstorypattern/0.4.0"
            class="org.muml.reconfiguration.componentstorypattern.ComponentstorypatternPackage"
            genModel="model/ComponentStoryPattern.genmodel"/>
   </extension>

</plugin>
