<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RTSCReachabilityGraph -->
      <package
            uri="http://www.muml.org/verification/core/reachanalysis/reachabilitygraph/rtsc/1.0.0"
            class="org.muml.verification.core.reachanalysis.reachabilitygraph.rtsc.RtscPackage"
            genModel="model/RTSCReachabilityGraph.genmodel"/>
   </extension>

</plugin>
