<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="LPSolveBlackboxUnit"
            namespace="org.muml.psm.allocation.algorithm.lpsolve">
         <library
               class="org.muml.psm.allocation.algorithm.ilp.lpsolve.LPSolve"
               name="LPSolveBlackbox">
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/ilp/1.0.0">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.muml.psm.allocation.algorithm.strategy">
      <strategy
            class="org.muml.psm.allocation.algorithm.ilp.lpsolve.LPSolveAllocationComputationStrategy"
            description="ILP-based allocation computation strategy (using lpsolve)"
            name="LPSolve Allocation Computation Strategy">
      </strategy>
   </extension>

</plugin>
