<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated extension -->
      <package
            uri="http://www.muml.org/simulink/adapter/extension/1.0.0"
            class="org.muml.simulink.adapter.extension.ExtensionPackage"
            genModel="model/extension.genmodel"/>
   </extension>

</plugin>
