<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.muml.core.export"
            class="org.muml.container.transformation.ui.ContainerWizard"
            id="org.muml.container.transformation.ui.ContainerWizard"
            name="Container Model and DDS Model">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="DDSHelperBlackBox"
            namespace="org.muml.container._library">
         <library
               class="org.muml.container.transformation.blackbox.ContainerTransformationBlackBox"
               name="DDSHelperLib">
            <metamodel
                  nsURI="http://www.muml.org/pm/hardware/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.muml.org/pm/hardware/hwplatforminstance/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.muml.org/pm/hardware/hwresourceinstance/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/Ecore">
            </metamodel>
         </library>
      </unit>
   </extension>

</plugin>
