<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<!--
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated transform -->
      <package
            uri="http://www.muml.de/modelica/transform/1.0.0"
            class="org.muml.modelica.transform.TransformPackage"
            genModel="model/transform.genmodel"/>
   </extension>

</plugin>
