<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="OCLEvaluatorBlackboxUnit"
            namespace="org.muml.psm.allocation.algorithm.ocl">
         <library
               class="org.muml.psm.allocation.algorithm.ocl.OCLEvaluator"
               name="OCLEvaluatorBlackbox">
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/language/as/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/ocl/2015/Pivot">
            </metamodel>
         </library>
      </unit>
      <unit
            name="TupleAccessorBlackboxUnit"
            namespace="org.muml.psm.allocation.algorithm.ocl">
         <library
               class="org.muml.psm.allocation.algorithm.ocl.TupleAccessor"
               name="TupleAccessorBlackbox">
            <metamodel
                  nsURI="http://www.muml.org/psm/allocation/language/as/1.0.0">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/ocl/2015/Values">
            </metamodel>
         </library>
      </unit>
   </extension>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="transforms/Specification2ILP.qvto"
            id="Specification2ILP">
      </transformation>
      <transformation
            file="transforms/Variables.qvto"
            id="Variables">
      </transformation>
      <transformation
            file="transforms/HWUtil.qvto"
            id="HWUtil">
      </transformation>
      <transformation
            file="transforms/TupleAccessor.qvto"
            id="TupleAccessor">
      </transformation>
      <transformation
            file="transforms/CoherenceConstraint.qvto"
            id="CoherenceConstraint">
      </transformation>
      <transformation
            file="transforms/Util.qvto"
            id="Util">
      </transformation>
      <transformation
            file="transforms/ObjectiveFunction.qvto"
            id="ObjectiveFunction">
      </transformation>
      <transformation
            file="transforms/Expressions.qvto"
            id="Expressions">
      </transformation>
      <transformation
            file="transforms/GeneralConstraint.qvto"
            id="GeneralConstraint">
      </transformation>
      <transformation
            file="transforms/VariableHelper.qvto"
            id="VariableHelper">
      </transformation>
      <transformation
            file="transforms/Sort.qvto"
            id="Sort">
      </transformation>
      <transformation
            file="transforms/ResourceConstraint.qvto"
            id="ResourceConstraint">
      </transformation>
      <transformation
            file="transforms/OCLEvaluator.qvto"
            id="OCLEvaluator">
      </transformation>
      <transformation
            file="transforms/LocationConstraint.qvto"
            id="LocationConstraint">
      </transformation>
      <transformation
            file="transforms/SolverConstants.qvto"
            id="SolverConstants">
      </transformation>
      <transformation
            file="transforms/AbstractILPBasedAlgorithm.qvto"
            id="AbstractILPBasedAlgorithm">
      </transformation>
   </extension>
</plugin>
