<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/de.uni_paderborn.fujaba.muml.example"
            class="de.uni_paderborn.fujaba.muml.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="de.uni_paderborn.fujaba.muml.example.ui.SyncChannelCreationWizard"
            name="RTSC with Synchronization Channels Example"
            projectName="de.uni_paderborn.fujaba.muml.example.mini.syncChannel"
            projectPageDescription="Create project containing the RTSC with Synchronization Channels Example"
            projectPageTitle="RTSC with Synchronization Channels Example">
         <source bundle="de.uni_paderborn.fujaba.muml.example.mini.syncChannel" path="data" />
         <description>
            Create the RTSC with Synchronization Channels Example
         </description>
      </wizard>
   </extension>
</plugin>
