<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="org.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
            description="Transforms this structured component into a reconfigurable structured component."
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
            name="Make Reconfigurable">
      </command>
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="org.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
            description="Generates Real-Time Statecharts for the Manager and Executor of this ReconfigurableStructuredComponent."
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
            name="Generate Manager and Executor Implementation">
      </command>
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="org.muml.reconfiguration.ui.commands.GenerateRuleBasedReconfigurationController"
            description="Generates RuleBasedReconfigurationController"
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateRuleBasedReconfigurationControllerCommand"
            name="Generate RuleBasedReconfigurationController">
      </command>
      <command
            categoryId="de.uni_paderborn.fujaba"
            defaultHandler="org.muml.reconfiguration.ui.edit.handlers.ComputePossibleConfigurationsHandler"
            description="Computes possible Configurations for a ReconfigurableStructuredComponent"
            id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.ComputePossibleConfigurationsCommand"
            name="Compute Possible Configurations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
               icon="icons/MakeReconfigurable.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.MakeStructuredComponentReconfigurableCommand"
               label="Make Reconfigurable"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="org.muml.pim.component.diagram.edit.parts.StaticStructuredComponentEditPart">
                        </instanceof>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.component.StaticStructuredComponent">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
               icon="icons/GenerateImplementation.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateManagerAndExecutorImplementationCommand"
               label="Generate Manager and Executor Implementation"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableStructuredComponent">
                        </instanceof>
                        <instanceof
                              value="org.muml.reconfiguration.ui.edit.parts.ReconfigurableStructuredComponentEditPart">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateRuleBasedReconfigurationControllerCommand"
               icon="icons/MakeReconfigurable.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.GenerateRuleBasedReconfigurationControllerCommand"
               label="Generate RuleBasedReconfigurationController"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableStructuredComponent">
                        </instanceof>
                        <instanceof
                              value="org.muml.reconfiguration.ui.edit.parts.ReconfigurableStructuredComponentEditPart">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.ComputePossibleConfigurationsCommand"
               icon="icons/MakeReconfigurable.gif"
               id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.commands.ComputePossibleConfigurationsCommand"
               label="Compute Possible Configurations"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableStructuredComponent">
                        </instanceof>
                        <instanceof
                              value="org.muml.reconfiguration.ui.edit.parts.ReconfigurableStructuredComponentEditPart">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.muml.core.modelinstance.modelelementcategory">
      <category
            key="org.muml.pim.components.category"
            name="component">
         <child
               class="ReconfigurableStructuredComponent"
               packageNsUri="http://www.muml.org/reconfiguration/1.0.0">
         </child>
         <child
               class="ReconfigurableAtomicComponent"
               packageNsUri="http://www.muml.org/reconfiguration/1.0.0">
         </child>
         <child
               class="FadingComponent"
               packageNsUri="http://www.muml.org/reconfiguration/1.0.0">
         </child>
      </category>
   </extension>
  <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
         <Priority
               name="High">
         </Priority>
         <editor
               id="org.muml.pim.component.diagram.part.ComponentDiagramEditorID"></editor>
         <contribution
               factoryClass="org.muml.reconfiguration.ui.part.ReconfigurationPaletteFactory">
            <entry
                  id="reconfDrawer"
                  kind="drawer"
                  label="Reconfiguration"
                  path="/">
               <expand
                     force="true">
               </expand>
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a reconfigurable structured component."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.ReconfigurableStructuredComponentTool"
                  kind="tool"
                  label="Reconfigurable Structured Component"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a reconfigurable atomic component."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.ReconfigurableAtomicComponentTool"
                  kind="tool"
                  label="Reconfigurable Atomic Component"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a reconfiguration message port."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.ReconfigurationMessagePortTool"
                  kind="tool"
                  label="Reconfiguration Message Port"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a reconfiguration execution port."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.ReconfigurationExecutionPortTool"
                  kind="tool"
                  label="Reconfiguration Execution Port"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a fading component."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.FadingComponentTool"
                  kind="tool"
                  label="Fading Component"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
            <entry
                  defineOnly="false"
                  description="Creates a broadcast port."
                  id="de.uni_paderborn.fujaba.muml.reconfiguration.ui.BroadcastPortTool"
                  kind="tool"
                  label="Broadcast Port"
                  path="/reconfDrawer/"
                  permission="Full">
            </entry>
         </contribution>
     </paletteProvider>

   </extension>
  <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.reconfiguration.ui.providers.CustomReconfigurationEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
       <extension
             point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
          <metamodel
                nsURI="http://www.muml.org/reconfiguration/1.0.0">
             <metamodelType
                   eclass="Manager"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ManagerEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.Manager_2075"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="Manager">
                <param
                      name="semanticHint"
                      value="2075">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="InternalReconfigurationCommunicationPort"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.InternalReconfigurationCommunicationPortEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.InternalReconfigurationCommunicationPort_3075"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="InternalReconfigurationCommunicationPort">
                <param
                      name="semanticHint"
                      value="3075">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="Executor"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ExecutorEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.Executor_2077"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="Executor">
                <param
                      name="semanticHint"
                      value="2077">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurationMessagePort"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurationMessagePortEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurationMessagePort_3076"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurationMessagePort">
                <param
                      name="semanticHint"
                      value="3076">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurationPortAssemblyConnector"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurationPortAssemblyEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurationPortAssemblyConnector_4075"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurationPortAssemblyConnector">
                <param
                      name="semanticHint"
                      value="4075">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurationExecutionPort"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurationExecutionPortEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurationExecutionPort_3077"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurationExecutionPort">
                <param
                      name="semanticHint"
                      value="3077">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurationPortDelegationConnector"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurationPortDelegationConnectorEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurationPortDelegationConnector_4076"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurationPortDelegationConnector">
                <param
                      name="semanticHint"
                      value="4076">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="RuleBasedReconfigurationController"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.RuleBasedReconfigurationControllerEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.RuleBasedReconfigurationController_7076"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="RuleBasedReconfigurationController">
                <param
                      name="semanticHint"
                      value="7076">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurableStructuredComponent"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurableStructuredComponentEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableStructuredComponent_2076"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurableStructuredComponent">
                <param
                      name="semanticHint"
                      value="2076">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="ReconfigurableAtomicComponent"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.ReconfigurableAtomicComponentEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.ReconfigurableAtomicComponent_2078"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="ReconfigurableAtomicComponent">
                <param
                      name="semanticHint"
                      value="2078">
                </param>
             </metamodelType>
             <metamodelType
                   eclass="FadingComponent"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.FadingComponentEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.FadingComponent_2079"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="FadingComponent">
                <param
                      name="semanticHint"
                      value="2079">
                </param>
             </metamodelType>
          </metamodel>
          <metamodel
                nsURI="http://www.fujaba.de/muml/reconfiguration/protocolinstantiation/0.4.0">
             <metamodelType
                   eclass="BroadcastPort"
                   edithelper="org.muml.reconfiguration.ui.edit.helpers.BroadcastPortEditHelper"
                   id="de.uni_paderborn.fujaba.muml.reconfiguration.BroadcastPort_3078"
                   kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
                   name="BroadcastPort">
                <param
                      name="semanticHint"
                      value="3078">
                </param>
             </metamodelType>
          </metamodel>
       </extension>
       <extension
             point="org.muml.core.modelinstance.ui.diagraminformation">
          <editor
                editorId="org.muml.pim.component.diagram.part.ComponentDiagramEditorID"
                editorName="Component Editor"
                fileExtension="component_diagram"
                modelElementCategoryKey="org.muml.pim.components.category"
                modelId="Component"
                preferencesHint="org.muml.pim.component.diagram">
             <diagramElement
                   packageNsURI="http://www.muml.org/modelinstance/1.0.0"
                   className="ModelElementCategory">
             </diagramElement>
             <topLevelNode
                   domainElement="ReconfigurableStructuredComponent"
                   semanticHint="2076">
             </topLevelNode>
             <topLevelNode
                   domainElement="FadingComponent"
                   semanticHint="2079">
             </topLevelNode>
             <topLevelNode
                   domainElement="ReconfigurableAtomicComponent"
                   semanticHint="2078">
             </topLevelNode>
          </editor>
       </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
          <viewProvider
                class="de.uni_paderborn.fujaba.muml.reconfiguration.ui.providers.ReconfigurationViewProvider">
             <Priority
                   name="Low">
             </Priority>
            
          </viewProvider>
       </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
          <editpolicyProvider
                class="de.uni_paderborn.fujaba.muml.reconfiguration.ui.providers.ReconfigurationEditPolicyProvider">
             <Priority
                   name="Highest">
             </Priority>
             <object
                   id="generated-diagram">
                <method
                      name="getType()"
                      value="Component">
                </method>
             </object>
             <object
                   class="org.eclipse.gmf.runtime.notation.Node"
                   id="generated-nodes">
                <method
                      name="getType()"
                      value="3022">
                </method>
             </object>
          </editpolicyProvider>
       </extension>
</plugin>
