<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.fujaba.de/muml/reconfiguration/0.3.7"
            class="de.uni_paderborn.fujaba.muml.model.reconfiguration.ReconfigurationPackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.fujaba.de/muml/reconfiguration/expression/0.3.7"
            class="de.uni_paderborn.fujaba.muml.model.reconfiguration.expression.ExpressionPackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>
</plugin>
