<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MechatronicUML"
            id="de.uni_paderborn.fujaba.muml.browser.view">
      </category>
      <view
            name="Muml Browser (EXPERIMENTAL)"
            icon="icons/sample.gif"
            category="de.uni_paderborn.fujaba.muml.browser.view"
            class="de.uni_paderborn.fujaba.muml.browser.views.ModelBrowserView"
            id="de.uni_paderborn.fujaba.muml.browser.views.ModelBrowserView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="de.uni_paderborn.fujaba.muml.browser.views.ModelBrowserView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
