<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/de.uni_paderborn.fujaba.muml.example"
            class="org.muml.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="org.muml.example.ui.RailCabCreationWizard"
            name="%muml.example.railcab.name"
            projectName="%muml.example.railcab.projectName"
            projectPageDescription="%muml.example.railcab.projectPage.desc"
            projectPageTitle="%muml.example.railcab.projectPage.title">
             <source
             	bundle = "%bundle@org.muml.example.railcab"
            	path = "%folder@org.muml.example.railcab"
            	/>
             <description>
                %muml.example.railcab.desc
             </description>
      </wizard>
   </extension>
</plugin>
