<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Define Action Provider -->
   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content2">
     <actionProvider
           appearsBefore="org.eclipse.ui.navigator.resources.OpenActions"
           class="org.muml.core.siriusbrowser.actions.MumlSiriusBrowserActionProvider"
           id="MyTestNavigatorActionProvider">
        <enablement>
           <or>
              <adapt
                    type="org.eclipse.emf.ecore.EObject">
              </adapt>
           </or>
        </enablement>
      </actionProvider>
   </extension>
   
   <!-- Activate Action Provider in Sirius Model Explorer -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
         <includes>
             <actionExtension pattern="MyTestNavigatorActionProvider" />
         </includes>
       </viewerActionBinding>
   </extension>
   
   
  <!-- Define Commands for invocation in menus -->
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.muml"
           defaultHandler="org.muml.core.siriusbrowser.actions.CreateMessageTypeRepositoryHandler"
           description="Create Message Repository"
           id="org.muml.core.siriusbrowser.actions.command.CreateMessageTypeRepository"
           name="Create Message Repository">
     </command>
  </extension>
   
  <!-- Define menus -->
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.muml">
         <command
               commandId="org.muml.core.siriusbrowser.actions.command.CreateMessageTypeRepository"
               icon="icons/MessageTypeRepository.gif"
               id="org.muml.core.siriusbrowser.actions.CreateMessageTypeRepository"
               label="Create Message Type Repository"
               style="push">
              <visibleWhen
                    checkEnabled="false">
                    <iterate ifEmpty="false" operator="and">
                    	<adapt type="org.eclipse.core.resources.IContainer" />
                    </iterate>	
              </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   


</plugin>
