<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="customItemProviderAdapterFactories" name="Custom ItemProviderAdapterFactories" schema="schema/customItemProviderAdapterFactories.exsd"/>
   <extension-point id="elementInitializer" name="Element Initializer" schema="schema/elementInitializer.exsd"/>

  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.muml.expression.mumlfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.muml">
              </test>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.fujaba">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>

  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.muml.expression.typesfile">
	    <iterate
           ifEmpty="false"
           operator="and">
	       <adapt type="org.eclipse.core.resources.IResource">
           <or>
              <test
                    property="org.eclipse.core.resources.name"
                    value="*.types">
              </test>
           </or>
	       </adapt>
	    </iterate>
     </definition>
  </extension>

  <extension
        point="org.eclipse.ui.views">
     <category
           id="org.muml.views"
           name="MechatronicUML">
     </category>
  </extension>
  

  <extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
     <unit
          name="SaveXMIBlackbox"
          namespace="org.muml.common._blackbox">
       <library
             class="org.muml.core.common.blackbox.SaveXMIBlackbox"
             name="SaveXMIBlackbox">
       </library>
     </unit>
  </extension>
  
</plugin>
