<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated specification -->
      <package
            uri="http://www.muml.org/testlanguage/specification/1.0"
            class="org.muml.testlanguage.specification.SpecificationPackage"
            genModel="model/specification.genmodel"/>
   </extension>

</plugin>
