<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/org.muml.example"
            class="org.muml.core.example.ui.wizard.ExampleCreationWizard"
            icon="images/muml.png"
            id="org.muml.example.ui.SectionEntryCreationWizard"
            name="RailCab Section Entry Example"
            projectName="org.muml.example.sectionEntry"
            projectPageDescription="Create a plug-in containing the RailCab Section Entry Example"
            projectPageTitle="RailCab Section Entry Example">
         <source bundle="org.muml.example.sectionentry" path="data" />
         <description>
            Create the Models of the RailCab Section Entry Example
         </description>
      </wizard>
   </extension>
</plugin>
