<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.muml.pm.design.Activator"
               id="hardware.design"
	       name="hardware">
    </component>
  </extension>
   <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.muml.pm.design.wizard.OpenWizard"
           id="hardware.design.wizard.OpenWizard">
     </javaActions>
  </extension>
</plugin>
