<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated release -->
      <package
            uri="http://migration/release/0.1"
            class="de.uni_paderborn.fujaba.ecore.migration.release.ReleasePackage"
            genModel="model/release.genmodel"/>
   </extension>

</plugin>
