<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
<extension point="org.eclipse.emf.ecore.generated_package">
      <package class="de.uni_paderborn.fujaba.muml.reachanalysis.reachabilityGraph.sdm.SdmPackage" genModel="model/SDMReachabilityAnalysis.genmodel" uri="http://www.fujaba.de/reachabilityGraph/sdm/0.1.0"/>
   </extension>

null
</plugin>
