<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.muml.ape.contributor">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.muml.ape.contributor">
          <propertyTab
             category="domain"
             id="property.tab.general"
             label="General"/>
          <propertyTab
             category="domain"
             id="property.tab.documentation"
             afterTab="property.tab.extensions"
             label="Documentation"/>
          <propertyTab
             category="domain"
             id="property.tab.extensions"
             afterTab="property.tab.general"
             label="Extensions"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="org.muml.ape.contributor">
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.core.properties.tabs.Property_tab_generalTabElementFilter"
            id="property.tab.general"
            tab="property.tab.general">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.core.properties.tabs.Property_tab_documentationTabElementFilter"
            id="property.tab.documentation"
            tab="property.tab.documentation">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.core.properties.tabs.Property_tab_extensionsTabElementFilter"
            id="property.tab.extensions"
            tab="property.tab.extensions">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="org.muml.ape.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="org.muml.core.properties.expressions.editor.TextualExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/1.0.0#TextualExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.common.editor.UnaryExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/common/1.0.0#UnaryExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.common.editor.ComparisonExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/common/1.0.0#ComparisonExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.common.editor.ArithmeticExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/common/1.0.0#ArithmeticExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.common.editor.LogicalExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/common/1.0.0#LogicalExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.common.editor.LiteralExpressionEditor$Factory"
             type="http://www.muml.org/core/expressions/common/1.0.0#LiteralExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.modelinstance.editor.RootNodeEditor$Factory"
             type="http://www.muml.org/modelinstance/1.0.0#RootNode">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.core.properties.modelinstance.editor.ModelElementCategoryEditor$Factory"
             type="http://www.muml.org/modelinstance/1.0.0#ModelElementCategory">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="org.muml.ape.runtime.metamodelContributor">
    <metamodel
          contributor="org.muml.core.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="org.muml.ape.runtime.creationConstraintContributor">
    <constraint
          contributor="org.muml.core.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
