<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="realtimestatechart_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="realtimestatechart_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="RealtimestatechartPresentation">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="RealtimestatechartPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="RealtimestatechartRender">
         <Priority name="Lowest"/>
         <ViewId id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.UmlrtMarkerNavigationProvider">
         <MarkerType name="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Realtimestatechart Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.RealtimestatechartValidationDecoratorProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            name="%prefpage.de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.appearance"
            name="%prefpage.de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.appearance"
            category="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.connections"
            name="%prefpage.de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.connections"
            category="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.printing"
            name="%prefpage.de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.printing"
            category="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.rulersAndGrid"
            name="%prefpage.de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.rulersAndGrid"
            category="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.general"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram"
            labelProvider="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.sheet.RealtimestatechartSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     

      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.UmlrtViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Realtimestatechart"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2020,2021,2022,2023,2024,3025,3026,3027,3028,3029,3030"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.UmlrtEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Realtimestatechart"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2020,2021,2022,2023,2024,3025,3026,3027,3028,3029,3030"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5025,5026,5020,5021,5022,5023,5024"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7009,7010,7011,7012"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.UmlrtModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.RealtimeStatechartEditPart" id="FujabaRealtimeStatechart_1000"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.StateEditPart" id="State_2020"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.State2EditPart" id="State_2021"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.State3EditPart" id="State_2022"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.HistoryStateEditPart" id="HistoryState_2023"/>
         <object class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.ClockEditPart" id="Clock_2024"/>
         <context elements="FujabaRealtimeStatechart_1000,State_2020,State_2021,State_2022,HistoryState_2023,Clock_2024"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.UmlrtIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.providers.RealtimestatechartParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.FujabaRealtimeStatechart_1000"
               name="%metatype.name.FujabaRealtimeStatechart_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FujabaRealtimeStatechart"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.RealtimeStatechartEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2020"
               name="%metatype.name.State_2020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="State"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.StateEditHelper">
            <param name="semanticHint" value="2020"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <specializationType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2021"
               name="%metatype.name.State_2021"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2020"/>
            <param name="semanticHint" value="2021"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <specializationType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2022"
               name="%metatype.name.State_2022"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2020"/>
            <param name="semanticHint" value="2022"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.HistoryState_2023"
               name="%metatype.name.HistoryState_2023"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HistoryState"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.HistoryStateEditHelper">
            <param name="semanticHint" value="2023"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Clock_2024"
               name="%metatype.name.Clock_2024"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Clock"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.ClockEditHelper">
            <param name="semanticHint" value="2024"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.EntryAction_3025"
               name="%metatype.name.EntryAction_3025"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EntryAction"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.EntryActionEditHelper">
            <param name="semanticHint" value="3025"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.DoAction_3026"
               name="%metatype.name.DoAction_3026"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DoAction"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.DoActionEditHelper">
            <param name="semanticHint" value="3026"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ExitAction_3027"
               name="%metatype.name.ExitAction_3027"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ExitAction"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.ExitActionEditHelper">
            <param name="semanticHint" value="3027"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ClockConstraint_3028"
               name="%metatype.name.ClockConstraint_3028"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ClockConstraint"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.ClockConstraintEditHelper">
            <param name="semanticHint" value="3028"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.SynchronizationChannel_3029"
               name="%metatype.name.SynchronizationChannel_3029"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SynchronizationChannel"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.SynchronizationChannelEditHelper">
            <param name="semanticHint" value="3029"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Region_3030"
               name="%metatype.name.Region_3030"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Region"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.RegionEditHelper">
            <param name="semanticHint" value="3030"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/realtimestatechart">
         <metamodelType
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Transition_4002"
               name="%metatype.name.Transition_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.FujabaRealtimeStatechart_1000"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2020"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2021"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.State_2022"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.HistoryState_2023"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Clock_2024"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.EntryAction_3025"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.DoAction_3026"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ExitAction_3027"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ClockConstraint_3028"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.SynchronizationChannel_3029"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Region_3030"/>
         <elementType ref="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.Transition_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram"
           properties="isURIEditorInput"
           class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.resourceContent"/>
			<contentExtension pattern="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.domainResourceContent"/>
            <contentExtension pattern="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartNavigatorLabelProvider"
            icon="icons/obj16/RealtimestatechartDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="realtimestatechart_diagram"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigatorSorter" 
               class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="realtimestatechart_diagram"/>
                  </and>
                  <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartDomainNavigatorContentProvider" 
            labelProvider="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartDomainNavigatorLabelProvider"
            icon="icons/obj16/RealtimestatechartDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fujaba"/>
               </and>
               <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigatorActionProvider"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigatorLinkHelper"
            class="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.RealtimestatechartNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.navigator.UmlrtAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.UmlrtDiagramUpdateCommand"
         description="%update.diagram.description"
         id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.updateDiagram"
         contextId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.edit.parts.RealtimeStatechartEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.RealtimestatechartDiagramEditorID"
         defaultHandler="de.uni_paderborn.fujaba.umlrt.realtimeStatechart.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
