<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.provider.UppaalItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.core.provider.CoreItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/core/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.types.provider.TypesItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/types/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.provider.DeclarationsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.global.provider.GlobalItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/global"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.system.provider.SystemItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/system"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.templates.provider.TemplatesItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/templates/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.statements.provider.StatementsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/statements/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.expressions.provider.ExpressionsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/expressions/0.4.0"/>
   </extension>
<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.visuals.provider.VisualsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/visuals/0.4.0"/>
   </extension>null
null
null
null
null
null
null
null
null

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.provider.UppaalItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.core.provider.CoreItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/core/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.types.provider.TypesItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/types/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.provider.DeclarationsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.global.provider.GlobalItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/global"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.declarations.system.provider.SystemItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/declarations/system"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.templates.provider.TemplatesItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/templates/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.statements.provider.StatementsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/statements/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.expressions.provider.ExpressionsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/expressions/0.4.0"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <?emfgen generated="true"?>
      <!-- @generated uppaal -->
      <factory class="de.uni_paderborn.uppaal.visuals.provider.VisualsItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.uni-paderborn.de/uppaal/visuals/0.4.0"/>
   </extension>

</plugin>
