<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.uni_paderborn.fujaba.muml.reachanalysis.tsdm.tsdmhelper.TsdmhelperPackage"
            genModel="model/TimedSDMReachabilityAnalysisHelper.genmodel"
            uri="http://www.fujaba.de/reachAnalysis/tsdm/helper/0.1.0">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="tests/component.ecore"
            uri="http://www.fujaba.de/reachAnalysis/tsdm/tests/type/0.1.0">
      </resource>
   </extension>

</plugin>
