<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="base"
             afterTab="property.tab.domain.advanced"
             label="Experimental"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertySection
            class="de.fujaba.properties.runtime.sections.ObjectPropertySection"
            filter="de.fujaba.properties.runtime.filter.ElementFilter"
            id="base"
            tab="base">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="de.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="org.storydriven.core.properties.core.editor.CommentableElementEditor$Factory"
             type="org.storydriven.core.CommentableElement">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.core.editor.ExtendableElementEditor$Factory"
             type="org.storydriven.core.ExtendableElement">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.core.editor.ExtensionEditor$Factory"
             type="org.storydriven.core.Extension">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.core.editor.NamedElementEditor$Factory"
             type="org.storydriven.core.NamedElement">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.core.editor.TypedElementEditor$Factory"
             type="org.storydriven.core.TypedElement">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.expressions.editor.ExpressionEditor$Factory"
             type="org.storydriven.core.expressions.Expression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.expressions.editor.TextualExpressionEditor$Factory"
             type="org.storydriven.core.expressions.TextualExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.UnaryExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.UnaryExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.BinaryExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.BinaryExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.ComparisonExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.ComparisonExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.ArithmeticExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.ArithmeticExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.LogicalExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.LogicalExpression">
       </propertyEditor>
    
       <propertyEditor
             factory="org.storydriven.core.properties.common.editor.LiteralExpressionEditor$Factory"
             type="org.storydriven.core.expressions.common.LiteralExpression">
       </propertyEditor>
    
    </propertyEditors>
 </extension>

</plugin>
