<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.custom.providers.TestLanguageEditPartProviderOverride">
         <Priority
               name="Medium">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.uni_paderborn.fujaba.muml.testlanguage.diagram">
         <propertySection
               class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.custom.sheet.TestLanguagePropertySectionOverride"
               id="property.section.specification"
               tab="property.tab.TestLanguageSpecification">
            <input
                  type="org.eclipse.gmf.runtime.notation.View">
            </input>
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
            <input
                  type="de.uni_paderborn.fujaba.muml.testlanguage.diagram.navigator.TestLanguageAbstractNavigatorItem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.uni_paderborn.fujaba.muml.testlanguage.diagram">
         <propertyTab
               category="domain"
               id="property.tab.TestLanguageSpecification"
               indented="false"
               label="Specification">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.custom.providers.assistants.NodeEditPartModelingAssistantProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               elements="Node_2001">
         </context>
         <object
               class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.edit.parts.NodeEditPart"
               id="Node_2001">
         </object>
      </modelingAssistantProvider>
      <modelingAssistantProvider
            class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.custom.providers.assistants.TestCaseEditPartModelingAssistantProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               elements="TestCase_1000">
         </context>
         <object
               class="de.uni_paderborn.fujaba.muml.testlanguage.diagram.edit.parts.TestCaseEditPart"
               id="TestCase_1000">
         </object>
      </modelingAssistantProvider>
   </extension>

</plugin>
