<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="uppaal.project.design.Activator"
               id="uppaal.project.design"
	       name="My">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="uppaal.project.design.ExternalJavaAction1"
           id="uppaal.project.design.javaActions1">
     </javaActions>
  </extension>
</plugin>
