<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TTC -->
      <package
            uri="http://www.muml.org/example/ttccarplatooning/1.1.0"
            class="org.muml.example.storydiagram.reachanalysis.ttccarplatooning.TtccarplatooningPackage"
            genModel="model/TTC.genmodel"/>
   </extension>

</plugin>
