<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="realtimestatechart.design.Activator"
               id="realtimestatechart.design"
	       name="realtimestatechart">
    </component>
  </extension>
  <!--
  <extension point="org.eclipse.sirius.diagram.styleConfigurationProvider">
  	<styleConfigurationProvider providerClass="com.example.diagseq.style.DiagSeqStyleConfigurationProvider" />
  </extension>
  -->
  <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
		<editpartProvider class="realtimestatechart.design.providers.MyEditPartProvider">
       		<Priority name="High"/>
	    </editpartProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="realtimestatechart.design.providers.MyEditPolicyProvider">
        <Priority
              name="Lowest">
        </Priority>
     </editpolicyProvider>
  </extension>
</plugin>
