<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131ModelWizardID"
            name="%_UI_IEC61131ModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IEC61131ModelFile.gif">
         <description>%_UI_IEC61131ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.languages.il.presentation.IlEditorID"
            name="%_UI_IlEditor_label"
            icon="icons/full/obj16/IlModelFile.gif"
            extensions="il"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.il.presentation.IlEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.languages.il.presentation.IlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131EditorID"
            name="%_UI_IEC61131Editor_label"
            icon="icons/full/obj16/IEC61131ModelFile.gif"
            extensions="iec61131"
            class="de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131Editor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.presentation.IEC61131ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.types.presentation.TypesModelWizardID"
            name="%_UI_TypesModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.types.presentation.TypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypesModelFile.gif">
         <description>%_UI_TypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="de.fraunhofer.iem.m4a.IEC61131.core.types.presentation.TypesEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.literals.presentation.LiteralsModelWizardID"
            name="%_UI_LiteralsModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.literals.presentation.LiteralsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LiteralsModelFile.gif">
         <description>%_UI_LiteralsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.literals.presentation.LiteralsEditorID"
            name="%_UI_LiteralsEditor_label"
            icon="icons/full/obj16/LiteralsModelFile.gif"
            extensions="literals"
            class="de.fraunhofer.iem.m4a.IEC61131.core.literals.presentation.LiteralsEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.literals.presentation.LiteralsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.variables.presentation.VariablesModelWizardID"
            name="%_UI_VariablesModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.variables.presentation.VariablesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VariablesModelFile.gif">
         <description>%_UI_VariablesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.variables.presentation.VariablesEditorID"
            name="%_UI_VariablesEditor_label"
            icon="icons/full/obj16/VariablesModelFile.gif"
            extensions="variables"
            class="de.fraunhofer.iem.m4a.IEC61131.core.variables.presentation.VariablesEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.variables.presentation.VariablesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.declarations.presentation.DeclarationsModelWizardID"
            name="%_UI_DeclarationsModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.declarations.presentation.DeclarationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeclarationsModelFile.gif">
         <description>%_UI_DeclarationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.declarations.presentation.DeclarationsEditorID"
            name="%_UI_DeclarationsEditor_label"
            icon="icons/full/obj16/DeclarationsModelFile.gif"
            extensions="declarations"
            class="de.fraunhofer.iem.m4a.IEC61131.core.declarations.presentation.DeclarationsEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.declarations.presentation.DeclarationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.pous.presentation.PousModelWizardID"
            name="%_UI_PousModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.pous.presentation.PousModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PousModelFile.gif">
         <description>%_UI_PousModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.pous.presentation.PousEditorID"
            name="%_UI_PousEditor_label"
            icon="icons/full/obj16/PousModelFile.gif"
            extensions="pous"
            class="de.fraunhofer.iem.m4a.IEC61131.core.pous.presentation.PousEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.pous.presentation.PousActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.core.configurations.presentation.ConfigurationsModelWizardID"
            name="%_UI_ConfigurationsModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.core.configurations.presentation.ConfigurationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfigurationsModelFile.gif">
         <description>%_UI_ConfigurationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.core.configurations.presentation.ConfigurationsEditorID"
            name="%_UI_ConfigurationsEditor_label"
            icon="icons/full/obj16/ConfigurationsModelFile.gif"
            extensions="configurations"
            class="de.fraunhofer.iem.m4a.IEC61131.core.configurations.presentation.ConfigurationsEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.core.configurations.presentation.ConfigurationsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.languages.st.presentation.StModelWizardID"
            name="%_UI_StModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.st.presentation.StModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StModelFile.gif">
         <description>%_UI_StModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
null
   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC61131 -->
      <editor
            id="de.fraunhofer.iem.m4a.IEC61131.languages.st.presentation.StEditorID"
            name="%_UI_StEditor_label"
            icon="icons/full/obj16/StModelFile.gif"
            extensions="st"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.st.presentation.StEditor"
            contributorClass="de.fraunhofer.iem.m4a.IEC61131.languages.st.presentation.StActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC61131 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fraunhofer.iem.m4a.IEC61131.languages.il.presentation.IlModelWizardID"
            name="%_UI_IlModelWizard_label"
            class="de.fraunhofer.iem.m4a.IEC61131.languages.il.presentation.IlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IlModelFile.gif">
         <description>%_UI_IlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

null
null
null
null
null
null
null
null
</plugin>
