<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphviz -->
      <package
            uri="http://www.muml.org/graphviz/1.0.0"
            class="org.muml.graphviz.GraphvizPackage"
            genModel="model/graphviz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphviz -->
      <package
            uri="http://www.muml.org/graphviz/dot/1.0.0"
            class="org.muml.graphviz.dot.DotPackage"
            genModel="model/graphviz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphviz -->
      <package
            uri="http://www.muml.org/graphviz/plain/1.0.0"
            class="org.muml.graphviz.plain.PlainPackage"
            genModel="model/graphviz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphviz -->
      <package
            uri="http://www.muml.org/graphviz/common/1.0.0"
            class="org.muml.graphviz.common.CommonPackage"
            genModel="model/graphviz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated graphviz -->
      <package
            uri="http://www.muml.org/graphviz/util/1.0.0"
            class="org.muml.graphviz.util.UtilPackage"
            genModel="model/graphviz.genmodel"/>
   </extension>
</plugin>
