<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.PatternDiagramEditorID"
         name="%editorName"
         icon="icons/PatternDiagram.gif"
         extensions="pattern_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.PatternDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.MumlMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.MumlDiagramActionBarContributor">
      </editor>
   </extension>
    
   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
  	  <wizard
  	       category="de.fujaba/de.fujaba.diagrams"
  	     icon="icons/PatternDiagram.gif"
  	     class="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.MumlCreationWizard"
  	     id="de.uni_paderborn.fujaba.muml.patterneditor.diagram.part.MumlCreationWizard"
  	     name="Pattern Diagram">
  	  	 <description>Creates a new Pattern diagram.</description>
      </wizard>
   </extension>
    
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http:///de/uni_paderborn/fujaba/muml/model/pattern">
      
        <adviceBinding  id="de.uni_paderborn.fujaba.muml.patterneditor.diagram.custom.RoleAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.patterneditor.diagram.Role_2005"
		  class="de.uni_paderborn.fujaba.muml.patterneditor.diagram.custom.edit.helpers.RoleEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>

      </metamodel>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <binding context="de.uni_paderborn.fujaba.muml.patterneditor.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.patterneditor.diagram.Role_2005"/>
         <advice ref="de.uni_paderborn.fujaba.muml.patterneditor.diagram.custom.RoleAdvice"/>
      </binding>
   </extension>
   
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.patterneditor.diagram.custom.providers.CustomPatternEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>

</plugin>
