<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.fujaba.de/muml/verification/sdd/0.4.0"
            class="de.uni_paderborn.fujaba.muml.verification.sdd.SDDPackage"
            genModel="model/sdd.genmodel"/>
   </extension>

</plugin>
