<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SDMReachabilityAnalysis -->
      <package
            uri="http://www.muml.org/storydiagram.reachanalysis.reachabilitygraph/sdm/1.0.0"
            class="org.muml.storydiagram.reachanalysis.reachabilitygraph.sdm.SdmPackage"
            genModel="model/SDMReachabilityAnalysis.genmodel"/>
   </extension>

</plugin>
