<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.muml.emm.migrator">

      <Migrator
            file="model/GenModel.migrator">
      </Migrator>
      <Migrator
            file="model/Migration.migrator">
      </Migrator>
      <Migrator
            file="model/ReleaseSet.migrator">
      </Migrator>
   </extension>

</plugin>
