<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.muml.common.properties">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertyTab
             category="domain"
             id="property.tab.constraint"
             afterTab="property.tab.comment"
             label="Constraint"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.common.properties">
          <propertySection
            class="de.uni_paderborn.fujaba.properties.runtime.sections.ObjectPropertySection"
            filter="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.tabs.ConstraintTabElementFilter"
            id="property.tab.constraint"
            tab="property.tab.constraint">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="org.muml.ape.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.ComponentStoryPatternEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#ComponentStoryPattern">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.ComponentStoryPatternVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#ComponentStoryPatternVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.ComponentVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#ComponentVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.AssemblyVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#AssemblyVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.DelegationVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#DelegationVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.SinglePortVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#SinglePortVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.MultiPortVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#MultiPortVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.FadingComponentPartVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#FadingComponentPartVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.ComponentPartVariableEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#ComponentPartVariable">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.MultiPortOrderConstraintEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#MultiPortOrderConstraint">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.componentstorypattern.editor.MultiPortPositionConstraintEditor$Factory"
             type="http://www.fujaba.de/muml/componentstorypattern/0.4.0#MultiPortPositionConstraint">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="org.muml.ape.runtime.metamodelContributor">
    <metamodel
          contributor="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="org.muml.ape.runtime.creationConstraintContributor">
    <constraint
          contributor="de.uni_paderborn.fujaba.muml.componentstorypattern.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
