<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="de.uni_paderborn.fujaba.muml.common.properties">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>








 <extension point="de.uni_paderborn.fujaba.properties.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.pattern.model.properties.pattern.editor.AdaptedFromCoordinationPatternEditor$Factory"
             type="http://www.fujaba.de/muml/pattern/0.3.18#AdaptedFromCoordinationPattern">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.pattern.model.properties.pattern.editor.CoordinationPatternEditor$Factory"
             type="http://www.fujaba.de/muml/pattern/0.3.18#CoordinationPattern">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.pattern.model.properties.pattern.editor.PlainTextualDescriptionAspectsEditor$Factory"
             type="http://www.fujaba.de/muml/pattern/0.3.18#PlainTextualDescriptionAspects">
       </propertyEditor>
    
       <propertyEditor
             factory="de.uni_paderborn.fujaba.muml.pattern.model.properties.pattern.editor.LegalConfigurationEditor$Factory"
             type="http://www.fujaba.de/muml/pattern/0.3.18#LegalConfiguration">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.metamodelContributor">
    <metamodel
          contributor="de.uni_paderborn.fujaba.muml.pattern.model.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="de.uni_paderborn.fujaba.properties.runtime.creationConstraintContributor">
    <constraint
          contributor="de.uni_paderborn.fujaba.muml.pattern.model.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
