<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="org.muml.ape.contributor">
       <propertyCategory
             category="domain">
       </propertyCategory>
       <propertyCategory
             category="default">
       </propertyCategory>
       <propertyCategory
             category="extended">
       </propertyCategory>
       <propertyCategory
             category="advanced">
       </propertyCategory>
    </propertyContributor>
  </extension>



<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.muml.ape.contributor">
          <propertyTab
             category="domain"
             id="org.muml.ape.tab.general"
             label="General"/>
          
      </propertyTabs>
  </extension>




  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections"> 
      <propertySections contributorId="org.muml.ape.contributor">
          <propertySection
            class="org.muml.ape.runtime.sections.ObjectPropertySection"
            filter="org.muml.ape.properties.tabs.Org_muml_ape_tab_generalTabElementFilter"
            id="org.muml.ape.tab.general"
            tab="org.muml.ape.tab.general">
             <input
               type="org.eclipse.emf.ecore.EObject">
             </input>
          </propertySection>
         
      </propertySections>
  </extension>



 <extension point="org.muml.ape.runtime.propertyEditors">
    <propertyEditors>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PropertyGeneratorEditor$Factory"
             type="http://org.muml.ape/1.0.0#PropertyGenerator">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.ReconcilerEditor$Factory"
             type="http://org.muml.ape/1.0.0#Reconciler">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.CustomTransformationEditor$Factory"
             type="http://org.muml.ape/1.0.0#CustomTransformation">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PluginEditor$Factory"
             type="http://org.muml.ape/1.0.0#Plugin">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PropertyTabEditor$Factory"
             type="http://org.muml.ape/1.0.0#PropertyTab">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PackageEditor$Factory"
             type="http://org.muml.ape/1.0.0#Package">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.ClassEditor$Factory"
             type="http://org.muml.ape/1.0.0#Class">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PropertyEditor$Factory"
             type="http://org.muml.ape/1.0.0#Property">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.TextPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#TextPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.SpinnerPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#SpinnerPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.ComboBoxPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#ComboBoxPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.CheckboxPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#CheckboxPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.RadioPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#RadioPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.ListPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#ListPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.FlattenedListPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#FlattenedListPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.ObjectPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#ObjectPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.OCLPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#OCLPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.CustomPropertyEditorEditor$Factory"
             type="http://org.muml.ape/1.0.0#CustomPropertyEditor">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.PropertyCategoryEditor$Factory"
             type="http://org.muml.ape/1.0.0#PropertyCategory">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.OCLFilterEditor$Factory"
             type="http://org.muml.ape/1.0.0#OCLFilter">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.CreationConstraintEditor$Factory"
             type="http://org.muml.ape/1.0.0#CreationConstraint">
       </propertyEditor>
    
       <propertyEditor
             factory="org.muml.ape.properties.ape.editor.BaseInsertPointEditor$Factory"
             type="http://org.muml.ape/1.0.0#BaseInsertPoint">
       </propertyEditor>
    
    </propertyEditors>
 </extension>


 <extension
       point="org.muml.ape.runtime.metamodelContributor">
    <metamodel
          contributor="org.muml.ape.properties.metamodel.MetamodelContributor">
    </metamodel>
 </extension>


 <extension
       point="org.muml.ape.runtime.creationConstraintContributor">
    <constraint
          contributor="org.muml.ape.properties.constraint.CreationConstraintContributor">
    </constraint>
 </extension>

</plugin>
