<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.StructuredcomponentDiagramEditorID"
         name="%editorName"
         icon="icons/StructuredComponentDiagram.gif"
         extensions="structuredcomponent_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.StructuredcomponentDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.MumlMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.MumlDiagramActionBarContributor">
      </editor>
   </extension>
   

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
  	  <wizard
  	       category="de.fujaba/de.fujaba.diagrams"
  	       icon="icons/StructuredComponentDiagram.gif"
  	       class="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.MumlCreationWizard"
  	       id="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.part.MumlCreationWizard"
  	       name="Structured Component Diagram">
  	     
  	  	 <description>Creates a new Structured Component Diagram.</description>
      </wizard>
   </extension>
   
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.custom.providers.CustomStructuredcomponentEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
    
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http://www.fujaba.de/muml/model/component/0.2.1">
      
        <adviceBinding  id="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.custom.ComponentPartAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.ComponentPart_3005"
		  class="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.custom.edit.helpers.ComponentPartEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>

      </metamodel>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <binding context="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.ComponentPart_3005"/>
         <advice ref="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.custom.ComponentPartAdvice"/>
      </binding>
   </extension>

	<!--
   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.muml.structuredcomponenteditor.diagram.custom.providers.CustomStructuredcomponentParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>
	-->
</plugin>
