<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DiagnosticTrace -->
      <package
            uri="http://www.muml.org/uppaal/trace/1.0.0"
            class="org.muml.uppaal.trace.diagnostictrace.DiagnostictracePackage"
            genModel="model/DiagnosticTrace.genmodel"/>
   </extension>

</plugin>
