<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.menus">
	   <menuContribution
	         allPopups="false"
	         locationURI="popup:de.uni_paderborn.fujaba?after=diagrams">
	      <command
	            commandId="de.uni_paderborn.fujaba.muml.dependencylanguage.synthesis.ui.commands.InitialSynthesis"
	            icon="icons/InitialSynthesis.gif"
	            id="de.uni_paderborn.fujaba.muml.common.commands.OpenTypeDialogCommand"
	            label="Synthesize Intra-Behavior"
	            style="push">
	            	<visibleWhen checkEnabled="true">
						<or>
							<with variable="selection">
								<iterate ifEmpty="false">
								<instanceof value="de.uni_paderborn.fujaba.muml.component.AtomicComponent">
								</instanceof>
								</iterate>
							</with>
							<and>
								<with variable="activePartId">
									<equals value="de.uni_paderborn.fujaba.muml.component.diagram.part.ComponentDiagramEditorID"/>
								</with>
								<with variable="selection">
									<iterate ifEmpty="false">
									<instanceof
									value="de.uni_paderborn.fujaba.muml.component.diagram.edit.parts.AtomicComponentEditPart">
									</instanceof>
									</iterate>
								</with>
							</and>
						</or>
					</visibleWhen>
	      </command>
	   </menuContribution>
	</extension>
	
	<extension
        point="org.eclipse.ui.commands">
     <category
           id="de.uni_paderborn.fujaba"
           name="Fujaba">
     </category>
     <command
           categoryId="de.uni_paderborn.fujaba"
           defaultHandler="de.uni_paderborn.fujaba.muml.dependencylanguage.synthesis.ui.InitialSynthesisCommand"
           description="Intially synthesize the component's behavior"
           id="de.uni_paderborn.fujaba.muml.dependencylanguage.synthesis.ui.commands.InitialSynthesis"
           name="Synthesize Intra-Behavior">
     </command>
  </extension>
</plugin>
