<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.componentinstanceconfigurationeditor.diagram.custom.providers.CustomComponentinstanceconfigurationEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <ParserProvider class="de.uni_paderborn.fujaba.muml.componentinstanceconfigurationeditor.diagram.custom.providers.CustomComponentinstanceconfigurationParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>

   <extension
         point="de.uni_paderborn.fujaba.common.customItemProviderAdapterFactories">
      <factory
            class="de.uni_paderborn.fujaba.muml.componentinstanceconfigurationeditor.diagram.custom.edit.providers.CustomInstanceItemProviderAdapterFactory"
            pluginid="de.uni_paderborn.fujaba.muml.componentinstanceconfigurationeditor.diagram"
            priority="1">
      </factory>
   </extension>

</plugin>
