<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
  	  <wizard
  	       category="de.fujaba/de.fujaba.diagrams"
           class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.part.CustomMessageinterfaceDiagramCreationWizard"
           icon="icons/MessageInterfaceDiagram.gif"
           id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.part.CustomMessageinterfaceDiagramCreationWizard"
           name="Message-Interface Diagram">
  	     
  	  	 <description>Creates a new Message-Interface Diagram.</description>
      </wizard>
   </extension>
   
      
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.provider.CustomMessageinterfaceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditorID"
         name="%editorName"
         icon="icons/MessageInterfaceDiagram.gif"
         extensions="messageinterface_diagram"
         default="true"
         class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MessageinterfaceDiagramEditor"
         matchingStrategy="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlMatchingStrategy"
         contributorClass="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.part.MumlDiagramActionBarContributor">
      </editor>
   </extension>
<!--
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.providers.CustomMessageinterfaceEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
-->


   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <ParserProvider class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.provider.CustomMessageinterfaceParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>


  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram">
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.sheet.CustomMessageinterfacePropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.navigator.MessageinterfaceAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="objectContribution.MessageType"
           objectClass="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.edit.parts.MessageTypeEditPart">
        <menu
              id="RealtimeStatechart.ModifyEParameter"
              label="Custom.Insert"
              path="additions">
           <separator
                 name="group1">
           </separator>
        </menu>
        <action
              class="de.uni_paderborn.fujaba.muml.messageinterfaceeditor.diagram.custom.action.ModifyMessageTypeWizardAction"
              enablesFor="1"
              id="Statechart.ModifyParameterID"
              label="Modify Parameters"
              menubarPath="RealtimeStatechart.ModifyEParameter/group1">
        </action>
     </objectContribution>
  </extension>

</plugin>
