<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MumlReconfiguration -->
      <package
            uri="http://www.muml.org/reconfiguration/1.0.0"
            class="org.muml.reconfiguration.ReconfigurationPackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MumlReconfiguration -->
      <package
            uri="http://www.muml.org/reconfiguration/expression/1.0.0"
            class="org.muml.reconfiguration.expression.ExpressionPackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MumlReconfiguration -->
      <package
            uri="http://www.muml.org/reconfiguration/structdatatype/1.0.0"
            class="org.muml.reconfiguration.structdatatype.StructdatatypePackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MumlReconfiguration -->
      <package
            uri="http://www.muml.org/reconfiguration/protocolinstantiation/1.0.0"
            class="org.muml.reconfiguration.protocolinstantiation.ProtocolinstantiationPackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MumlReconfiguration -->
      <package
            uri="http://www.muml.org/reconfiguration/reconfInstance/1.0.0"
            class="org.muml.reconfiguration.reconfInstance.ReconfInstancePackage"
            genModel="model/MumlReconfiguration.genmodel"/>
   </extension>

</plugin>
