<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


<!-- adding resource factories -->



	<!-- marker definitions for de.uni_paderborn.fujaba.muml.swplatform.oslanguage.OperatingSystemLanguage -->


	<!-- Quick Outline -->
    <!-- quickfix marker resolution generator for de.uni_paderborn.fujaba.muml.swplatform.oslanguage.OperatingSystemLanguage -->
   	<!-- Rename Refactoring -->


</plugin>
