<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- copied from atomiccomponenteditor -->
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.uni_paderborn.fujaba">
         <separator
               name="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.copyRolePropertiesToPort"
               label="Copy Role Properties To Port"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.part.MumlDiagramEditorID">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="de.uni_paderborn.fujaba.muml.component.diagram.edit.parts.DiscretePortEditPart">
                        </instanceof>
                     </iterate>
                  </with></and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_paderborn.fujaba.muml.component.diagram.custom.edit.commands.CopyRolePropertiesToPort"
            id="de.uni_paderborn.fujaba.muml.atomiccomponent.diagram.custom.copyRolePropertiesToPort"
            name="Copy Role Properties To Port">
      </command>
   </extension>

   
   <!-- editpart provider -->
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.uni_paderborn.fujaba.muml.component.diagram.custom.providers.CustomStructuredcomponentEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   
   <!-- EditHelpers -->
   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <metamodel nsURI="http://www.fujaba.de/muml/component/0.3.17">
        <adviceBinding id="de.uni_paderborn.fujaba.muml.component.diagram.custom.DiscretePortGmfProtocolAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.component.diagram.DiscretePortGmfProtocol_4005"
		  class="de.uni_paderborn.fujaba.muml.component.diagram.custom.edit.helpers.DiscretePortGmfProtocolEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>
        <adviceBinding id="de.uni_paderborn.fujaba.muml.component.diagram.custom.ComponentPartAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.component.diagram.ComponentPart_3012"
		  class="de.uni_paderborn.fujaba.muml.component.diagram.custom.edit.helpers.ComponentPartEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>
        <adviceBinding id="de.uni_paderborn.fujaba.muml.component.diagram.custom.AssemblyConnectorAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.component.diagram.AssemblyConnector_4001"
		  class="de.uni_paderborn.fujaba.muml.component.diagram.custom.edit.helpers.AssemblyConnectorEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>
         <adviceBinding id="de.uni_paderborn.fujaba.muml.component.diagram.custom.DelegationConnectorAdvice"
		  typeId="de.uni_paderborn.fujaba.muml.component.diagram.DelegationConnector_4002"
		  class="de.uni_paderborn.fujaba.muml.component.diagram.custom.edit.helpers.DelegationConnectorEditHelperAdvice"
		  inheritance="all">
        </adviceBinding>

      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
	  <binding context="de.uni_paderborn.fujaba.muml.component.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.component.diagram.DiscretePortGmfProtocol_4005"/>
         <advice ref="de.uni_paderborn.fujaba.muml.component.diagram.custom.DiscretePortGmfProtocolAdvice"/>
      </binding>
      <binding context="de.uni_paderborn.fujaba.muml.component.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.component.diagram.ComponentPart_3012"/>
         <advice ref="de.uni_paderborn.fujaba.muml.component.diagram.custom.ComponentPartAdvice"/>
      </binding>
      <binding context="de.uni_paderborn.fujaba.muml.component.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.component.diagram.AssemblyConnector_4001"/>
         <advice ref="de.uni_paderborn.fujaba.muml.component.diagram.custom.AssemblyConnectorAdvice"/>
      </binding>
      <binding context="de.uni_paderborn.fujaba.muml.component.diagram.TypeContext">
         <elementType ref="de.uni_paderborn.fujaba.muml.component.diagram.DelegationConnector_4002"/>
         <advice ref="de.uni_paderborn.fujaba.muml.component.diagram.custom.DelegationConnectorAdvice"/>
      </binding>
   </extension>


   <!-- parser provider -->

	<!--
   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="de.uni_paderborn.fujaba.muml.component.diagram.custom.providers.CustomStructuredcomponentParserProvider">
         <Priority name="Low"/>
      </ParserProvider>
   </extension>
	-->
</plugin>
